[2017-06-01 20:51] wadearnold opened #5 "Consumer Group - Self Balanced Consumers"
First thanks for open sourcing this project. I couldn't agree more with your description in the opening readme. Thank you for brining a more idiomatic go solution to the Kafka/Go community!

My current project is highly dependent on [Sarama Cluster](github.com/bsm/sarama-cluster) because of its support for Consumer Groups with self balancing.
- High availability of the Consumer group
- Sharding of

[2017-06-01 21:47] thehydroimpulse commented on #5
Consumer groups would definitely be really awesome to support. With one of our recent projects we decided to go with consul as a simple way to do consumer groups but required that 1) we stored our offsets ourselves 2) there's no fancy balancing or anything 3) dependent on consul.

For most use cases it's easier to create a real Kafka consumer group and not have to worry about too much.

[2017-06-01 21:56] achille-roussel commented on #5
Supporting _native_ Kafka consumer groups are definitely a must-have, I was planning on looking into it sometimes this weekend maybe.

Design proposals / Pull Requests / Thoughts are welcome!

[2017-06-16 05:31] xusss opened #8 "Some doubts!"
Sorry, I have no idea about the passing by pointers will cause large memory alloc.
Passing values will copy the memory but without increasing the reference count.
Passing pointers will copy the reference but without memory copy of it's data.
Need help!

[2017-06-16 07:06] achille-roussel commented on #8
Helllo,

I'm not sure I understand what your problem is, can you tell me what method you're looking at, or maybe show some code or benchmark numbers so I can help with your issue?

[2017-07-27 16:34] ardan-bkennedy commented on #5
I am working with the example code with kafka running in a docker container from Sarama. I am confused how the consumer is able to always get the latest new messages on every restart. I am not maintaing my own offset position. I am very new to kafka. I just need simple consuming and publishing of messages.

Thank you for this package because the other packages were not written very well and I was

[2017-07-27 23:02] achille-roussel commented on #5
@ardan-bkennedy currently kafka-go doesn't support consumer groups, which means you have to manage the offset yourself. We focused on this use case because it was fitting our needs here at Segment, however we also have places where having offsets managed automatically is a requirement for us so we're starting to think about building support for consumer groups into this package.

Unfortunately for

[2017-08-03 23:46] kevinburke opened #15 "README examples don't compile"
this example:

[code]

I get the following error:

[code]

[2017-08-03 23:51] achille-roussel commented on #15
Thanks for the report, I'll fix it!

[2017-08-04 00:02] #15 closed

[2017-08-04 23:21] kevinburke commented on #5
Might be a silly question but what's preventing just adding an extra `GroupID` field or similar to the `ReaderConfig` and then sending that to Kafka on dial?

[2017-08-04 23:38] kevinburke commented on #5
Reading through the code some more... we can't send a group id as part of a Fetch request. after establishing the connection, if the configured group id is non-nil we'd need to send a JoinGroup message.

[2017-08-04 23:49] achille-roussel commented on #5
Consumer groups are a little more complex to implement than just setting an ID unfortunately. They require a bunch of client side logic to be implemented, I'm starting to have more and more use cases that could leverage consumer groups so I'll probably end up implementing it eventually. If you want to give it a try let me know so we don't duplicate efforts.

[2017-08-04 23:56] kevinburke commented on #5
Oh interesting, OK. No I don't have any immediate plans to work on this

[2017-09-27 23:45] thehydroimpulse opened #20 "Writer: Dropping messages if the topic doesn't exist"
Currently the Writer is unable to use kafka's auto topic creation feature because it first queries the partition list which doesn't trigger the topic to be created. This means any messages written using `WriteMessages` are dropped silently.

[2017-10-03 05:50] #20 closed

[2017-10-18 00:17] harlow commented on #5
Wondering if there is an incremental approach that could be made here? Maybe this is too simplistic thinking, but we could break this into two parts:

1. Passing a "group" to the Reader and have it track it's offset  `__consumer_offsets`

<img width="629" alt="screen shot 2017-10-17 at 5 11 01 pm" src="https://user-images.githubusercontent.com/739782/31695242-43c11888-b35e-11e7-83fe-67aed5cef35b.p

[2017-10-19 00:28] achille-roussel commented on #5
This seems like a good idea to me 👍

As we move more and more of our services to using kafka-go here at Segment we'll need support for consumer groups eventually, so unless I've received a contribution by then I will likely have to add support at some point in a not-too-far future, but I don't have a hard date yet on when that would happen.

[2017-10-19 07:37] burdiyan commented on #5
How are you using Kafka without consumer groups? Are your services mostly stateteful, each configured handling specific partitions of specific topics? Can you give some examples of your services (apart from the deduper on your blog :))

Thanks!

El 19 oct 2017 2:28 +0200, Achille <notifications@github.com>, escribió:

[2017-10-19 20:25] achille-roussel commented on #5
The way we've been doing it is using consul locks to negotiate which service is consuming from which partition. I a topic has 10 partitions we start 10 services and each of them attempts to acquire a lock on consul keys `<prefix>/locks/<partition>`. Then they manage they store their offset in an Aurora database. This is used to do atomic handoffs (through 3-phase commits) between the consumer hand

[2017-10-20 07:58] burdiyan commented on #5
@achille-roussel Great! Thank's a lot for sharing! We are using consumer groups extensively, and that's why we had to stay with Sarama (which we anyway abstracted with a simple reader/writer semantics). But kafka-go looks quite interesting.

[2017-10-23 10:55] sposec commented on #8
@xusss memory allocations can happen wherever there is sufficient space in the heap, whilst values are allocated contiguously. As a consequence of that, the CPU may need to "jump" back and forth RAM to read data, invalidating the cache and making applications slower.

[2017-10-24 05:38] xusss commented on #8
@sposec Oh，I see! Thanks very much

[2017-10-31 15:55] tolitius opened #30 "consuming: "invalid memory address or nil pointer dereference""
I am able to read messages from one broker, but not another (same Kafka version `0.10.2`). I am able to consume messages from all using Clojure/Java.

Here is what I am getting with `segmentio/kafka-go`:

[code]

how do I go about debugging this? Again, same consuming code with `segmentio/kafka-go` does work with one broker, but not with another. The only difference in config is a hostname.

[2017-10-31 17:11] achille-roussel commented on #30
Would it be possible for you to share the code sample thy triggered the panic?

[2017-10-31 17:34] tolitius commented on #30
it is spread over several functions, but comes down to something like this:

[code]

and in another `consume` go routine:

[code]

[2017-10-31 18:39] tolitius commented on #30
caused by `OffsetOutOfRange`. It seems that even when this error occurs, the flow continues into the `readLoop:` and fails here: https://github.com/segmentio/kafka-go/blob/1e83cf5b64391047336130bb080ea81ac399db9b/reader.go#L585

because the connection is `nil` (i.e. was not created due to the `OffsetOutOfRange`).

the real panic due to the `nil` connection is here: https://github.com/segmentio/kaf

[2017-10-31 20:06] achille-roussel commented on #30
Thanks for the report, I'll send a PR with a test to reproduce the issue and a fix.

[2017-10-31 20:24] achille-roussel commented on #30
I'm having trouble reproducing the issue, it seems like this code should be taking care of not having offsets out of range issues. Could it be a race between the reader reading from the first offset and kafka expiring those data?

Would you happen to know what's the range of valid offsets on your partition, and which offset the reader was trying to consume from? (looking at your code snippet it se

[2017-10-31 20:53] tolitius commented on #30
I don't think this is the case due to the next answer

I did point it to a different Kafka broker that did not yet have messages for a partition. But I read offsets from Consul, which remembered offsets from a previous broker. i.e. so any offset set to greater than zero for a brand new partition results in this panic

I do manual offset management: recording them in a `sync.Map`, and periodically

[2017-10-31 20:59] achille-roussel commented on #30
Hm... I tried writing a test that would do `r.SetOffset(42)` on an empty topic but it didn't trigger the issue, I'll dig more.

[2017-10-31 21:05] achille-roussel commented on #30
Ah! Never mind I got it, in the test the topic didn't exist until messages were produced to it. See the PR for the test and fix.

Thanks for your help making this project better!

[2017-10-31 21:05] tolitius commented on #30
just in case: Kafka version `kafka_2.12-0.10.2.0`

if I put `continue` after `OffsetOutOfRange` case, as in your pull request, it does _not_ panic on a wrong offset.

At this point this is not a blocker for me, since theoretically "it's a user error", but it would be nice to avoid a panic of course.

[2017-10-31 21:07] tolitius commented on #30
great, sure always welcome, thanks for a quick fix :)

[2017-10-31 21:07] #30 closed

[2017-11-09 04:42] tolitius opened #33 "reader: exposing first and last offset constants"
Our apps read `auto-offset-reset` from config (i.e. Consul) which comes in as `latest` or `earliest`: i.e. to mimic an official Kafka config.

I could create a connection object and do `ReadFirstOffset()` / `ReadLastOffset()` on it to later set this offset on a `Reader`, but it is simpler just to pass `-2` or `-1` to `Reader.SetOffset()` to communicate startWithLast / startWithFirst offset.

`-1`

[2017-12-13 11:38] josledp opened #37 "panic on writing on a high load situation"
Hi,
  trying to put preassure to kafka we had a panic using kafka-go:

[code]

it seems the problem is here:
[code]

because w.write can return nil and an error, and it tries to close the conn without validating if its nil.

[2017-12-13 11:50] achille-roussel commented on #37
Thanks for reporting, I can tackle this sometimes tomorrow, or if you send a fix we merge it earlier.

[2017-12-15 07:35] dangkaka commented on #5
hi @achille-roussel, any update on this?

[2017-12-23 18:40] savaki commented on #5
I think I'll take a stab a simple consumer group implementation this weekend.

[2017-12-24 16:40] Pryz opened #43 "Support Kafka record headers"
Since 0.11.x, Kafka support record headers. See : https://issues.apache.org/jira/browse/KAFKA-4208 / https://cwiki.apache.org/confluence/display/KAFKA/A+Case+for+Kafka+Headers.

There is a lot of use cases where headers could be useful !

[2017-12-24 16:41] Pryz commented on #43
I will try to take a look to it the coming week :)

[2017-12-26 11:24] achille-roussel opened #44 "[savaki/kafka-go/consumer-groups] Discussion"
@savaki

I'm opening this issue as communication thread on the consumer groups implementation that you're working on there https://github.com/savaki/kafka-go/tree/consumer-groups

First of all, thanks a lot of taking time to work on this, it's a highly demanded feature that I'm sure a lot will benefit from.

Here are some feedback I had on your work:

- All types that represent structured protocol

[2017-12-26 11:25] achille-roussel commented on #5
I opened https://github.com/segmentio/kafka-go/issues/44 as a place to discuss the current work that @savaki has started on consumer groups.

[2017-12-26 14:42] savaki commented on #44
Thanks for opening this thread.  Here was my thinking on each of those:

- As for the exporting.  By exporting, you'll enable people that use kafka-go to build off it to add features that you might not have the time or desire for.  If you look at the relationship that bsm/sarama-cluster and burrow have with sarama, the former exists because sarama exposes its broker level API.  I can understand if

[2017-12-26 15:42] achille-roussel commented on #44
- I agree exporting APIs allows people to reuse the code and build other packages on top of it. However, we have no immediate needs for this, and once exposed we have to maintain the code forever because there is no way to tell how many dependencies there will be out there (and we'd end up with a really large public API like sarama has, there's no point redoing what's already been done, this proje

[2017-12-26 15:45] achille-roussel commented on #33
This sounds fine to me, feel free to send a PR for this 👍

[2017-12-26 15:45] #37 closed

[2017-12-26 15:47] achille-roussel commented on #8
Is there anything we can do here? Otherwise can we close the issue?

[2017-12-26 17:07] savaki commented on #44
- You make good points about not wanting to support more than you have to.  I'll go ahead and un-export the api and update the naming within Conn

- I agree that being overloaded is subjective.  I will say as a newcomer to the codebase, the blending of api calls with higher order concepts took me a little to get used and I thought an abstraction would have cleared up the confusion for future contr

[2017-12-26 18:15] achille-roussel commented on #44
Like I said, I'm not against supporting multiple topics on the `Reader` type, it may even be a great improvement of the current code. I was just saying that as a first step and to reuse as much of the existing code as possible we could start with single topics, then improve the code to be fully featured.

I believe this is a requirement, companies have programs written in multiple languages or usi

[2017-12-26 18:43] savaki commented on #44
These answers help a lot.  The reason I ask about compatibility vs multiple topics has to do with how consumer groups rebalance.  Conceptually the flow is:

1.  Find the broker that will coordinate the group
2. Attempt to join the group. As part of the request, I pass the list of rebalancing strategies I support.  The standard-ish ones are roundrobin and range.  bsm/sarama-cluster supports these.

[2017-12-27 07:41] achille-roussel commented on #44
- Adding Topic/Partition to kafka.Message seems like a very fine change to me, maybe we can even make it its own PR because it would likely touch a lot of the existing code and we should probably set those fields even for a reader that doesn't use consumer groups (for consistency purposes).

- I understand the leader is in charge of all topic and partitions of the group, however if we document the

[2017-12-27 14:52] savaki commented on #44
I like that first suggestion a lot.  I'll go ahead and start there.

Yes, with a caveat.  kafka-go consumers that consume different topics may NOT share a consumer group otherwise, they could get rebalanced and end up swapping topics.  However, we could block that with a validation check when the Reader is constructed.

Partitions[] shouldn't be in the configuration.  It was something I experiment

[2017-12-27 17:57] savaki commented on #44
I noticed that ReaderStats has an embedded partition.  How would you like to handle that if the Reader can handle more than one partitions.   Options I see would include:

- set value to -1 in cases where there's more than one partition and stats become aggregate
- add new StatsByPartition => map[int32]ReaderStats that returns the stats by partition
- separate StatsByPartition into ReaderStats and

[2017-12-27 19:59] achille-roussel commented on #44
That's a good point. I think it's fine to set the partition to -1 for now when the reader is used with a consumer group. It's not ideal but I'm not a big fan of adding new methods for solving this.

Ideally I think we should return a slice of ReaderStats, one of each topic/partition that the reader handles, but this is an API breaking change so I'd rather delay this until we have consumer groups f

[2017-12-27 21:04] savaki commented on #44
sounds good to me

[2017-12-28 08:16] #8 closed

[2017-12-28 08:19] savaki commented on #44
At this point, I have a working version of consumer groups with kafka-go.

As you've suggested, I split the work into smaller commits to make it easier to digest.   The first commit, ```expand Connto handle kafka api calls```, increases the surface area of *Conn to support the api calls required by consumer groups.  I've intentionally made the calls shallow so the functions could be a simple adapt

[2017-12-29 01:21] savaki opened #51 "WriteMessages should allow Kafka broker to route Messages to partitions"
Currently, it appears that both Conn and Writer use client side routing of messages to specific partitions.  Can I suggest that either Writer or Conn have the option to allow the broker to do the routing.

Many users of Kafka (including us) use the key to ensure messages with the same key arrive on the same partition.  This is critical for many data replication cases where ordering matters.  While

[2017-12-29 03:05] savaki commented on #51
Gonna close this.  On further inspection, I think I've just misunderstood how the partitioning works.

[2017-12-29 03:05] #51 closed

[2017-12-29 20:24] savaki opened #53 "allow Writer to publish to any topic"
Now that Message supports Topic, it seems like there's no reason not to allow WriteMessages to publish to more than one topic.  Until the next major release, we could leave the public api alone and allow topics passed directly on the message to override the default topic.

Thoughts?

[2018-01-02 10:57] achille-roussel commented on #44
Could `Offset` and `SetOffset` simply return errors if the Reader is configured to be part of a consumer group? Because in this case offset management is automatic so the program cannot be given control over where the Reader is supposed to start.

I'd advocate for getting a working implementation first (no matter what approach you choose), but if connections occur quite often we'll probably want t

[2018-01-02 15:55] savaki commented on #44
Yep.  Currently, I have them returning a ```not available when GroupID is set``` error.

Agreed.  I have a working implementation that we're testing internally.  However, I'm breaking up the check-ins as per our discussion to ease the review process.  As it stands, not reusing connections was simpler to reason about so I went that direction.  The main drivers of a persistent connection is the comm

[2018-01-04 17:59] achille-roussel commented on #53
I'm not against this change, my only concern is this will require quite a bit of a rework of the internals of `Writer` which would increase the complexity of the code, since we'd have to maintain a connection pool for each topic. There will be limitations tho since a `Writer` still has only one `Balancer` attached, it means the balancing logic will have to be the same for every topics that the wri

[2018-01-04 21:06] savaki commented on #53
While I like the idea of maintaining a connection pool per broker, a smaller step might be just to expand writeProduceRequestV2 to publish to more than one topic.  The underlying kafka protocol supports it, but it looks like for simplicity, it's been limited to just 1.

https://github.com/segmentio/kafka-go/blob/master/write.go#L216

As for only a single balancer, I think it's quite common for org

[2018-01-04 21:12] savaki commented on #53
We don't have any use cases where we'd ever directly assign to a partition without a balancer.  Most cases that I can think of that would desire direct routing, like QoS and priority routing, seems like they'd be better served by being put in a balancer anyway.

[2018-01-04 21:22] savaki commented on #53
We have a number of services that publish to multiple topics.  Some examples include:

* database change data capture where each table is published to a separate topic
* data extraction.  a service might extract N types of data from a single provider e.g. Salesforce.  Each data type would be published onto a different topic.

While it's possible to use map[string]*kafka.Writer for such use cases,

[2018-01-04 21:57] achille-roussel commented on #53
Sounds good, I just wanted to be sure we were not making te change “because we can”, seems like it would serve you guys well to have this as a feature.

One more question i have, should we allow it only if no topic has been set on the Writer when it was created? Or should we use the configured topic as a default? I feel like the former is less error prone, let me know what you think.

[2018-01-04 22:10] savaki commented on #53
I like the former as well.  The topic should either be set at initializing or per message, but not both.

[2018-01-06 22:17] savaki opened #56 "race condition writing to closing (*reader).msgs"
Managed to hit a scenario where reader attempted to write to its internal msgs channel after it was closed.  It seems like the simplest way to remove this race is to not close msgs.  closing a channel doesn't free up its resources any sooner or cause a leak.    From examining the code, it doesn't appear that anyway it waiting for a close signal.

[2018-01-08 16:49] achille-roussel commented on #56
So the channel is supposed to be closed after waiting for all internal goroutines to complete (see https://github.com/segmentio/kafka-go/blob/master/reader.go#L227).

Is it possible that with the consumer group changes we don't properly manage the sync group counter which results in some goroutines attempting to publish to the channel after it was closed?

[2018-01-08 18:53] savaki commented on #56
Yep, I think that was it.  I believe there's an edge case where rebalance could be called during (*Reader).Close which would in turn spawn new readers that would close, but not until after a race condition.

Solution was to include a check at the beginning of start to make it clear that readers cannot be started if Reader.close

[2018-01-08 18:53] #56 closed

[2018-01-08 19:04] achille-roussel commented on #53
For those of you who are following here, we've just merged @savaki's contribution to add support for consumer groups.

[2018-01-08 19:04] savaki commented on #53
I think you meant to post this in the other thread.

[2018-01-08 19:05] achille-roussel commented on #53
😆

too many open issues...

[2018-01-08 19:05] achille-roussel commented on #5
For those of you who are following here, we've just merged @savaki's contribution to add support for consumer groups.

[2018-01-08 19:09] savaki opened #57 "optimization to share reader when reading multiple partitions from the same broker"
consider allowing (*reader) to read from multiple partitions simultaneous.

Consider the following use case.  3 brokers, 1 topic with with 6 partitions.  In this scenario at least 2 readers are reading from the same broker albeit from separate topics.  It seems like this places unnecessary load on the brokers and could be resolved by allowing a reader to read from more than one partition.

[2018-01-08 19:22] achille-roussel commented on #57
Yep, I've been thinking about this kind of optimizations. It's a trade off to make, because sharing a single TCP connection could result in worst consumer performance because there is no way to interleave parts of a response in the kafka protocol, the reader can send multiple concurrent requests and the correlation ID allows matching the response (because they can be out of order), but once a resp

[2018-01-08 20:38] savaki commented on #57
The main thing I've been noticing is the difference in load using kafka-go vs sarama go.  anecdotally, kafka-go appears to put a noticeably higher amount of cpu pressure on the brokers than sarama did.  It's one of the areas I was meaning to look more closely into.

[2018-01-08 22:06] achille-roussel commented on #57
Do you think it could be due to opening/closing connections to manage consumer groups, committing messages, etc... ?

I think we have greater opportunities for improvements there than batching fetches on a single connection (since those stay open for as long as possible, once established the overhead of a connection is pretty low).

[2018-01-08 23:45] savaki commented on #57
Possibly.  I've already made some of the optimizations.  Commits for example, share a common Conn.  I might try and experiment with what happens if I reuse the heartbeat connection.

[2018-01-09 11:51] burdiyan commented on #5
Great news! So this issue can be closed then?

[2018-01-09 11:55] achille-roussel commented on #5
I'll close when I tag a release with the consumer group work in it, there are still a couple of implementation details to polish. But the code is good enough to be tested, and feedback are welcome!

[2018-01-10 20:27] savaki opened #63 "proposal: allow offsets to be specified by time instead of just -1, -2"
As of kafka 0.10, specifying offsets by time is now possible. Would be nice to add support for this.

Here's our use case.  We have a number of services that provide real time analytics.  When the service boots, it reads content from Kafka and generates an in memory view of today stats.  As new events arrive, the stats are updated.  Currently, since there is no time based offset, we read from the

[2018-01-10 21:01] savaki opened #64 "proposal: refresh consumer groups"
As I understand it, the max age of an offset stored by Kafka is defined by the broker via offsets.retention.minutes.  If this value is -1, then the consumer is allowed to specify the offset retention time.  If you're working with your own brokers, then this is fine.

However, if you're working with a hosted kafka provider like confluent, heroku, or aiven, this isn't so good as you don't have contr

[2018-01-10 21:04] savaki commented on #57
I'll close this for now until I've done more testing.

[2018-01-10 21:04] #57 closed

[2018-01-11 15:12] achille-roussel commented on #64
I feel OK about reusing CommitInterval, the number of offsets being committed is usually small enough that it should have no performance impact. I'd prefer not exposing yet another configuration option that control something that most programs will never have to deal with.

We'd probably need some default value tho because we use a zero CommitInterval to make the commits synchronous.

[2018-01-11 15:40] achille-roussel commented on #63
That sounds fine 👍

What do you think about adding a `ReadOffsetAt(t time.Time) (offset int64, err error)` method to the `Conn` type as well?

[2018-01-12 18:47] savaki commented on #63
Sounds good.

[2018-01-13 18:43] achille-roussel commented on #64
Sounds good to me 👍

[2018-01-15 10:23] buixor opened #65 "Q: What is the intended design for fast producers ?"
Hello,
disclaimer : I'm pretty new to both go and kafka

While playing around with kafka-go, I noticed that the `WriteMessages()` is blocking until it finished delivering messages. Is the expected usage to manage a set of goroutines to ensure fast throughtput, or is there a method I missed in the API to do that ?

Thanks in advance,

[2018-01-15 11:58] achille-roussel commented on #65
The writer configuration has an "Async" boolean property which makes WriteMessages a non-blocking operation see https://godoc.org/github.com/segmentio/kafka-go#WriterConfig.

Keep in mind that in this mode there is no way to know whether the write was successful, if the kafka servers are unreachable or the program exits before the async send happened the messages would get lost.

Your idea of usin

[2018-01-15 12:08] buixor commented on #65
Thanks for the prompt answer !

I will thus stick with goroutines :)

[2018-01-15 12:08] #65 closed

[2018-01-29 23:23] jonasrmichel commented on #53
I'm interested in this feature as well. Is there still momentum?

[2018-01-31 18:59] jonasrmichel opened #67 "proposal: expose ability to create topics"
Currently, the only way to create a topic is to ensure kafka's `auto.create.topics.enable` is set to `true` (which it is by default) and then to publish a message on a non-existent topic (which will cause a panic).

This is workable, but kind of dirty feeling to me. If I want to ensure I don't pollute an existing topic with throwaway "create" messages, I need to first check if a topic exists befor

[2018-01-31 19:00] achille-roussel commented on #67
This is a great idea, would you be able to send a pull request that implements this change?

[2018-02-06 16:50] #67 closed

[2018-02-07 18:45] jonasrmichel opened #69 "proposal: WriterStats"
Is there any particular reason there isn't an analog to the `ReaderStats` type for `Writer`s (e.g., `WriterStats`)? Statistics tracking on the writer side would be helpful for applications that both produce and consume messages using this library.

[2018-02-07 18:47] achille-roussel commented on #69
There isn't other than the use case never came up, in production we took the approach to have a single service producing to a topic, so the stats that kafka provides give us enough insights. If this is useful to you I'll be happy to review and merge a pull request that adds this feature 👍

[2018-02-07 22:34] jonasrmichel commented on #69
Please double check my work. It feels like my eyes are bleeding. :)

I attempted to provide the same amount of connection-level statistics as are captured by `ReaderStats`. I also did my best to capture and expose writer-level metrics of interest to a user. I have my own use cases in mind, but it's possible I missed something basic.

[2018-02-07 23:05] achille-roussel commented on #69
It looked good, we can still iterate on it if there are details to adjust.

[2018-02-08 16:06] #69 closed

[2018-02-22 14:20] flowchartsman commented on #5
PR ref: https://github.com/segmentio/kafka-go/pull/55

[2018-02-22 18:52] jsteenb2 opened #72 "Bug: CommitMessages errors when committing without groupID for partition consumers"
Description:

setting up a reader to consume on a topic:

[code]

Then after fetching messages and then going to commit like so:

[code]

What I get is the following error message: `not available when GroupID is set`

I did not set a GroupId in my cfg. Upon further inspection it seems that inside the `CommitMessage()` method, the first line of the body is the following:

[code]

When I remove the

[2018-02-22 18:58] achille-roussel commented on #72
Hello @jsteenb2

From what you describe I believe this is the expected behavior.

`CommitMessages` only needs to be called when you're using consumer groups (by setting a `GroupID`), if you address a partition directly there is no offset management done on the kafka side, and therefore you don't need to explicitly declare which messages you have consumed. However, you likely have to use some form

[2018-02-22 19:25] jsteenb2 commented on #72
thanks for the quick response @achille-roussel, i'm trying to create seperate readers for each partition in my use case. When I go commit for a single partition I get the `not available when GroupID is set` error msg, which threw me off as to what CommitMessages could be used for. Is the commit message suppose to read `not available when GroupID is not set`?

Little confused as to where that Commi

[2018-02-22 19:33] achille-roussel commented on #72
Basically when you use consumer groups (by setting a `GroupID`), your consumer is potentially managing multiple offsets for multiple topics and partitions. It needs to inform kafka of which messages it has processed so kafka can move the offsets forward. This is what `CommitMessages` is used for.

Without calling `CommitMessages`, the next time you create a reader (by restarting your program for e

[2018-02-22 19:44] jsteenb2 commented on #72
I read you, no pun intended ;-). Thanks for the input. I'm still a bit perplexed by the error message though.  It seems to contradict if my english is correct?

`not available when GroupID is set` <-- current message, says unavailable when GroupID is set
&
`not available when GroupID is unset` <-- says available when GroupID is set

🤷‍♀️

the current message makes it sounds opposite to the intende

[2018-02-22 20:05] achille-roussel commented on #72
Ah! I see what you mean, I misunderstood.

Yep it seems inaccurate, would you mind sending a PR to give a better error message?

[2018-02-22 21:05] jsteenb2 commented on #72
sure thing, PR submitted 👍

[2018-02-22 21:40] #72 closed

[2018-02-23 08:26] hryamzik opened #74 "failed to find any partitions for topic"
I have to post messages for different topics so my send function looks like this:

[code]

For the first time new topic fails with `failed to find any partitions for topic`. Next time works just fine.

May be related to #53.

[2018-02-23 08:29] achille-roussel commented on #74
Hello @hryamzik

Do you have topic auto-creation enabled on your kafka servers? In that case topic creation may be delayed and cause the first writes to fail.

[2018-02-23 08:32] hryamzik commented on #74
@achille-roussel I believe auto-creation is enabled, that also explains why next attempt succeeds. However I'm not sure how to properly handle this issue to avoid data loss.

[2018-02-24 05:01] achille-roussel commented on #74
Have you tried checking the error from `WriteMessages` and have the program attempt to publish the messages again a little later?

[2018-02-26 08:27] hryamzik commented on #74
That's the plan but I would expect this to be handled on library level.

[2018-02-27 08:35] hryamzik commented on #74
FYI: retry works only if a writer is recreated as well.

[2018-02-27 10:46] buixor commented on #74
Hello,

Maybe the `Writer` can expose the `(*Conn) CreateTopics` function ? I encountered the same issue as @hryamzik :)

[2018-03-08 23:21] matthax opened #82 "proposal: support for snappy"
I've done some digging through the docs, and while I've had better luck with this library than a few others but one thing I've noticed it seems to be lacking is support for snappy.

Most of the Kafka clusters I work with are using snappy by default for compression, so the ability to decompress messages coming from the reader and compress outgoing messages from the writer directly through this libr

[2018-03-08 23:40] achille-roussel commented on #82
This is a very good point, and it would be a nice feature to add.

Would you have the cycles to work on this?

[2018-03-09 18:11] matthax commented on #82
I can give it a shot

[2018-03-14 14:48] errnoh commented on #82
I've been using github.com/eapache/go-xerial-snappy `Decode()` for decompressing `Message.Value` without running into any problems.

[2018-03-15 14:14] errnoh commented on #44
(Not directly about `Offset()` or `SetOffset()`, mostly about `ReaderConfig`) While I really like the ease of use of the current implementation this is my main issue with it. Without having the support to start the consumer group from latest offset I'll have to keep using separate consumers for each partition.

Use case here is having temporary consumer group read latest data from a topic. With da

[2018-03-15 15:17] achille-roussel commented on #44
That’s a good pint, would you have the time to work on adding this feature?

[2018-03-15 18:02] errnoh commented on #44
I think I can find some time soonish, and I know what to change. Just need to decide where to expose the configuration for this.

[2018-03-16 00:48] achille-roussel commented on #44
The reader config seems like the right place for this, but feel free to suggest something else if you think otherwise.

[2018-03-21 08:20] michalkarolik opened #84 "consumer group + get back to last not commited offset"
"(*Reader).SetOffset will return an error when GroupID is set" is there any way to get back to old offset also with using consumer groups? I've described problem here: https://stackoverflow.com/questions/49360325/kafka-consumer-group-loses-not-commited-messages

in short: lets say we have 4 messages. 3rd was not commited ( some error ), polling will fetch 4th message, process it with success and c

[2018-03-21 18:43] abraithwaite commented on #84
I've been thinking about this problem quite a bit recently.

I've had difficulty coming up with solutions beyond just not processing events in a concurrent context.  We can provide a solid guarantee that messages from an individual partition will be returned from the client library in-order but it's the responsibility of the caller to ensure that you don't ack a more recent event before and older

[2018-03-21 23:08] aerostitch commented on #74
Hi guys,

I've tested with a docker-compose locally with the following code and the auto-creation of topics can take more than 10 seconds. That might be a lot of message kept in memory especially for short-living applications. If your program just pushes a few messages `Ansynchronously` in a partition that does not exists the 1st time and then ends, we can't be sure the messages are pushed if we h

[2018-03-22 00:49] aerostitch commented on #74
Ok, the retry mechanism is actually already in place built in the `WriteMessages` function. The issue is fixes based on my tests with #85 .
@hryamzik can you confirm that this is what you want? You just have to setup the `MaxAttempts` in your `NewWriter` a little higher than the default (which is `10` https://github.com/segmentio/kafka-go/blob/master/writer.go#L186) if you still see the issue afte

[2018-03-22 05:54] michalkarolik commented on #84
Thank you for answer, at least I know I did not confuse some things in my head :) I have to admit it was a little of surprise (in kafka itself, not library) that you can even poll next message without commiting previous one, I was sure that poll will fetch the same not commited message again and all we need to do is to ensure that message/processing is idempotent.

[2018-03-23 20:50] #74 closed

[2018-03-24 18:08] sunc-cn opened #86 "ReadFirstOffset in version [kafka_2.11-1.0.1], got incorrect offset"
when I test commit offset explicitly,  make a test case that's do not commit offset after call the FetchMessage. I think if restart the consumer, will consume the message that not committed,but the consumer will got new messages which offset than last commited offset

[2018-03-25 00:43] im-auld opened #87 "Support for Gzip Compression"
Related to #82

I have a Kafka stream that I need to read from that is compressed with gzip. I would prefer to continue using this package as it's API is much nicer than the others and it doesn't require C Go. Would there be any interest in getting this added?

[2018-03-26 20:32] abraithwaite commented on #44
@errnoh, I might do some work on this soon.  Have you written anything?

[2018-03-27 09:08] errnoh commented on #44
Yeah, sorry. A bit busy at work but my proof-of-concept is now at https://github.com/segmentio/kafka-go/pull/88

Any opinion if that's the way we should do it or do you have any other suggestions?

[2018-03-30 07:47] yaoguais opened #90 "Will support security ?"
I don't find anything about kafka security. would you plan to support this feature?

https://kafka.apache.org/documentation/#security_overview

[2018-03-30 13:39] savaki commented on #84
Agree that more documentation would be useful.  However, I'm not sure this is a kafka-go issue.  While polling for messages and committing offsets seem like they should be tightly coupled activities, they're actually independent activities within Kafka.  One can poll for messages and never commit an offset.  Likewise, one can commit offsets without ever having polled for a message.

This lack of c

[2018-03-30 16:37] abraithwaite commented on #84
We could leave them decoupled, but I don't think any kafka library is complete without an API for offset management.

[2018-04-13 02:38] dgregoire opened #91 "Extract the message timestamp from Kafka into Message.Time in Reader"
The type `kafka.Message` has a field for Time.

[code]

When using a `Reader` the time in the message itself is not extracted and `Message.Time` is set to zero.

`message timestamp is 1970-01-01 00:00:00 +0000 UTC`

[2018-04-13 02:39] achille-roussel commented on #91
Would you mind telling me which version of kafka you are running?

[2018-04-13 02:42] dgregoire commented on #91
Running 1.0.1

[2018-04-16 20:11] matthax commented on #82
@errnoh When I decode using that library I still seem to get some sort of header in the value. Any idea what might cause that or have you not experienced that problem?

[2018-04-16 20:33] matthax commented on #82
I noticed these messages also have no `Key` the `nbytes` being read for it is `-1`. Perhaps related? Not sure.

[2018-04-19 17:07] dgregoire opened #92 "Document the working of QueueCapacity/BatchSize/BatchTimeout"
I've been using the `Writer` with a deadlined `Context` and I'm unsure how to configure it to allow batching while not blocking for the whole deadline duration.

If I set a `BatchSize` to 1, all is well but the load on the brokers and the network traffic is considerable. It's greatly reduced by setting `BatchSize` to another number - like 2, however `WriteMessages` blocks for the duration of the d

[2018-04-26 04:02] apexkaws911 opened #93 "How could I set auto-offset-reset on restart the consumer"
r := kafka.NewReader(kafka.ReaderConfig{
		Brokers:  []string{"Ip:9092"},
		GroupID:  "go_test",
		Topic:    "test",
		MinBytes: 10e3, // 10KB
		MaxBytes: 10e6, // 10MB
		//CommitInterval: time.Second,
	})
When I init the NewReader ,how could I set auto-offset-reset is earliest on restart ?

[2018-04-30 12:00] msepp commented on #91
I'm having the same issue.

Seems like the function `writeFetchRequestV1(...)` in `write.go:116` is used to fetch messages and this sets the API version to v1 (=1), when it should in fact be v2 to get timestamped messages in the response. I'm basing my assumption on the documentation about [Kafka improvements proposal about adding timestamps to public interfaces here](https://cwiki.apache.org/conf

[2018-04-30 23:36] abjsaha opened #96 "Any timeline on when v1 will be out?"
I am looking for a solution like kafka-go, but don't want to invest in it right now as there isn't a stable version of it available yet. Is there a timeline for v1?

[2018-04-30 23:41] achille-roussel commented on #96
So far we have made no breaking changes since we first started working on kafka-go about a year ago, and the goal is to keep it this way, I'd consider this API stable.

That being said, we can work on reviewing the ongoing work and figure out when would be the right time to tag a v1 of the project. At first sight it would probably require https://github.com/segmentio/kafka-go/pull/80 to be complet

[2018-05-02 18:47] #96 closed

[2018-05-09 12:48] msepp opened #99 "Reader RetentionTime validation comparing against wrong int type"
Hey,

I have a use-case where I need set the Reader RetentionTime setting to a non-default value that is bigger than the default. However the setting seems to be capped by max value for int32 when in fact internally the value sent with OffsetCommit request is using int64 for retention time (which is consistent with the spec).

This is limiting the effective maximum for RetentionTime to something b

[2018-05-11 14:55] newhook opened #100 "message format issue"
I'm grabbing messages off our kafka stream and noticed an issue with the message content. After decompressing the message (snappy encoded) the data appears to have some leading junk. In hex:

`0 0 0 0 2 c3 56 83 0 0 5 23 67 c 0 4 0 0 ff ff ff ff 0 0 5 15`

Any ideas what this is? I thought it might be a message batch as documented here:

https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To

[2018-05-11 22:42] achille-roussel commented on #100
Do you mind giving a bit more info about the version of Kafka you're running? Also if you have some code to reproduce the issue in isolation that would be a good start for me to dig into the issue.

[2018-05-12 02:03] newhook commented on #100
We're running kafka 2.11-1. The code I was testing with is as follows. Note that the data is snappy encoded. We originally inserted the data into kafka using kafkacat.

`kafkacat -P -b kafka-1 -t server-invalid -z snappy`

[code]

[2018-06-05 15:23] maxim-ge opened #102 "Reader delay"
`Reader` example gives ~5 seconds  delay until first output appears.  Can it be onfigured somehow? Sarama consumer prints  "immediately".

[2018-06-05 15:50] maxim-ge commented on #102
Ok, got it. `MinBytes: 1` or `MaxWait:   1 * time.Second` do the job

[2018-06-05 15:50] #102 closed

[2018-06-05 16:01] achille-roussel commented on #102
👍

We chose the default to be values that we actually use in production where we want to maximize throughput. Longer wait time and batch size allow better throughput since less roundtrips need to be made to fetch data from kafka.

Glad you got it figured out!

[2018-06-08 13:02] maxim-ge opened #103 "go dep and kafka-go"
For project which uses kafka-go `dep init` results into:

[code]

Whereas sarama:
[code]

Don't you have an intent to pin down first version somehow?

[2018-06-11 10:47] navaneeth opened #104 "Transaction support in producers"
Hi,

Any plans to support transaction support in producer?

[2018-06-21 07:43] maxim-ge opened #105 "How stable is kafka-go?"
I love the idea, design and documentation, looks like a software gem, but can it be used in production? Can you give brief description of some usage examples?

Also would be nice to have #103...

[2018-06-21 14:13] mhamrah commented on #51
Can you elaborate how you've solved this? It seems you must specify the partition on the connection?

[2018-06-21 15:40] f2prateek commented on #103
This is likely because we haven't cut a tag yet.

[2018-06-21 15:46] maxim-ge commented on #103
Could someone add a tag like v1.0.0, please?

On Thu, Jun 21, 2018 at 6:40 PM Prateek Srivastava <notifications@github.com>
wrote:

[2018-06-21 15:52] f2prateek commented on #103
I don't think we're ready to cut a v1 yet https://github.com/segmentio/kafka-go/issues/96#issuecomment-385560506.

[2018-06-21 15:53] maxim-ge commented on #103
Ok, 0.1.0 is also awesome.

On Thu, Jun 21, 2018 at 6:52 PM Prateek Srivastava <notifications@github.com>
wrote:

[2018-06-21 16:30] abraithwaite commented on #105
Please see this ticket:

https://github.com/segmentio/kafka-go/issues/96

tl;dr: soon™️

[2018-06-21 16:31] #105 closed

[2018-06-21 16:38] #103 closed

[2018-06-21 18:13] collinvandyck commented on #103
@maxim-ge in the meanwhile, `dep` allows you to specify a `revision` for a constraint.  at least this way you could pin it to a commit in the absence of a tag.

[2018-06-21 18:50] maxim-ge commented on #103
@collinvandyck - you are right, missed this option, thx!

[2018-07-02 21:46] flowchartsman commented on #5
This PR is merged, so shouldn't this issue be closed? If it's blocked on tests, I feel like that should have a separate issue to avoid confusion.

[2018-07-06 14:12] maxtar opened #108 "Support Encryption and Authentication with SSL"
Hi, I couldn't find any mention about Authentication in godocs. Are you not support it? We have kafka with kerberos authentication, can I use you library in our case?

[2018-07-06 16:35] abraithwaite commented on #108
We don't have any plans to do it at this moment, but we're open to contributions!

[2018-07-06 16:36] abraithwaite commented on #90
We don't have any plans to do it at this moment, but we're open to contributions!

Going to track this in #108 .

[2018-07-06 16:36] #90 closed

[2018-07-06 16:36] abraithwaite commented on #108
Gonna make a new ticket to track this.

[2018-07-06 16:36] #108 closed

[2018-07-06 16:37] abraithwaite opened #109 "Support Authentication"
Kafka supports this.  It would be nice to support it in our client as well.

https://kafka.apache.org/documentation/#security_overview

[2018-07-06 16:38] abraithwaite commented on #104
No plans, but happy to accept contributions.

[2018-07-06 16:39] achille-roussel commented on #109
We already support TLS encryption, but we haven’t implemented anything regarding authentication.

[2018-07-07 22:11] natemurthy opened #110 "WriteMessages blocks indefinitely without returning error"
I have an application that writes to a Kafka broker. It is configured with most of the default configuration in place like so:
[code]
I've observed `w.WriteMessages(ctx, msgs)` block without any apparent reason. I've been looking at the code to understand the underlying implementation. In what cases would this function block forever? If any maintainers can help diagnose this with me, it would be g

[2018-07-07 23:07] achille-roussel commented on #110
Would you be able to provide stack traces of your program to understand where exactly it fails to make progress? You can do so in Go by sending SIGQUIT which causes the program to exit and output the stack traces of all goroutines. Otherwise you can use pprof to get the stack traces exposed on a HTTP endpoint without having to terminate your application.

It would be useful to have more details on

[2018-07-07 23:53] dgregoire commented on #110
I believe #92 might be related - with the default `BatchSize` of 5 I also observe blocking until ctx is canceled or hits the deadline and things start working with `BatchSize` set to 1.

[2018-07-08 18:09] natemurthy commented on #110
@achille-roussel Here is a pprof heap dump of the application: https://pastebin.com/wmqYpgkW

@dgregoire I haven't adjusted the default `BatchSize` or wrapped the background parent context that I pass to `WriteMessages` with a timeout. My understanding of the same logic also unclear as I would expect this function to return with error after reaching the maximum number of attempts.

I should also n

[2018-07-08 18:21] natemurthy commented on #110
Could the state of the network connection to the Kafka brokers or the brokers themselves block the writers? If so, what steps would you recommend I follow to diagnose?

[2018-07-08 21:59] dgregoire commented on #110
@natemurthy the example I posted uses a context with timeout of 300ms, `batchSize` of 5, in synchronous producer with 1 required ack, sending a batch of one message.

If the issue is similar, you should stop observing the blocking by adjusting your `batchSize` to 1.

[2018-07-09 12:03] natemurthy commented on #110
Question for `kafka-go` devs though: why are we observing such in the first place? And why does adjusting the batch size have such an effect?

[2018-07-09 23:13] abraithwaite commented on #110
Which version of Kafka are you using?

[2018-07-09 23:36] natemurthy commented on #110
Apache Kafka 0.11.0.0

[2018-07-13 16:47] Pryz commented on #100
Hey @newhook , are you still experiencing this issue ?

2.11-1 is the version of Scala used by Kafka but not the version of Kafka itself. The version of Kafka will be something like : `0.10.2.2`, `0.11.0.1`, `1.1.0` etc etc.

Note that `kafka-go` will handle compression once https://github.com/segmentio/kafka-go/pull/106 is merged.

[2018-07-16 20:31] #87 closed

[2018-07-17 03:43] abraithwaite commented on #110
I think it's possible that one of the requests is using the wrong API version.  Keep an eye on this PR and try it when it gets merged:

https://github.com/segmentio/kafka-go/pull/80

Sorry we don't have a better answer around this.  I believe it's mostly been tested against 1.0.x.  (someone more knowledgable please correct me if wrong).

[2018-07-18 16:41] bwinata commented on #53
I second this feature request.

Use case:
We are currently interested in using this Go library for our purpose to route data from MQTT into our Kafka cluster. In short - we have a variety of IoT devices which are publishing data on various MQTT topics which are mapped to associated Kafka topics. For this, I'm writing a router using said API. However, because the underlying connection dictates the

[2018-07-19 07:12] Pryz commented on #100
Hey @joepurdy, I'm hitting the same issue.

The problem is that Kafka uses the idea of `MessageSet` to be able to compress and uncompress payload more efficiently. A set is basically a message which wraps other messages so that Kafka can compress an entire batch of messages.

Note that `RecordBatch` is replacing `MessageSet` since Kafka 0.11 but the idea is the same.

We haven't implemented any of

[2018-07-19 07:17] Pryz commented on #82
Hey @matthax sorry for the late response here. See my last comment here : https://github.com/segmentio/kafka-go/issues/100#issuecomment-406177864

[2018-07-19 13:37] dgregoire commented on #110
@abraithwaite in #92 I was testing against 1.0.1

My understanding of the situation is that if you're an async producer, using the default batch size of  `5`, then you need to send out batches of `5` messages otherwise the producer is unable to proceed and blocks indefinitely - does that make sense?

[2018-07-24 10:06] niuzhifa commented on #93
I had the same problem

[2018-07-25 20:41] Pryz commented on #93
What do you mean by `on restart` ?

Are you looking for https://godoc.org/github.com/segmentio/kafka-go#Reader.SetOffset ?

[code]

[2018-07-30 16:18] natemurthy commented on #110
Hi @abraithwaite, what's the update on #80 ? There hasn't been any activity since 2018 July 13.

[2018-08-04 21:13] hiveminded opened #113 "How can I list topics?"
Hello, good work with this library. My question is self-described, I want to list all the available topics and their partitions, or all partitions -> topics, like the `Client.Topics()` of sarama package. Thank you.

[2018-08-14 08:20] wolfogre opened #114 "Why there is not any tag or release?"
Or it is not ready for releasing a version?

[2018-08-17 01:41] elpadrinoIV opened #115 "ConsumerGroup consuming only one partition. Also several consumer consuming same partition"
I tried to make the smallest example of the bug.

1. Create a topic with 2 partitions:
`./bin/kafka-topics.sh --zookeeper localhost:2181 --topic 2part --create --partitions 2 --replication-factor 1`
2. Publish consecutive messages to the topic
3. Consumer:
[code]

Run 1 consumer:
[code]
Since there is only one consumer, he should read all the messages, not just the messages from one partition.
The

[2018-08-18 18:34] achille-roussel commented on #115
Thanks for reporting, I'm going to look into this.

[2018-08-28 06:47] mxk1235 commented on #109
SASL/Kerberos would be great.  you'll likely need to take gokrb5 dependency.

[2018-09-11 18:57] achille-roussel opened #116 "WriteMessages should return offset"
The Produce API response returns the offset at which a batch of messages was written, but this is not an information we currently expose to the program, even tho it is very valuable.

I'm thinking of introducing a method with one of those signatures, and I'd like to get some feedback on which one you think may be the best approach:
[code]
[code]
[code]
I want to avoid breaking backward compatibili

[2018-09-12 18:00] rjenkins commented on #116
I prefer `func (*Conn) Produce(req *ProduceRequest) (res *ProduceResponse, err error)`, also fwiw this is similar to existing Producer APIs for example https://kafka.apache.org/10/javadoc/org/apache/kafka/clients/producer/KafkaProducer.html#send-org.apache.kafka.clients.producer.ProducerRecord-

[2018-09-14 20:47] dkoston opened #117 "Unable to compress messages"
This is likely user error but I'm not able to compress messages.

I've set them to use `snappy` with the exact code from README.md (have also tried lz4):

[code]

However, when the messages reach Kafka, they are not compressed:

![screen shot 2018-09-14 at 4 02 59 pm](https://user-images.githubusercontent.com/6424250/45575043-b38eea80-b837-11e8-8e09-87d339c10cf6.png)

Code: https://gist.github.com

[2018-09-14 21:26] dkoston commented on #117
note: I've tried with kafka 2.0.0 and 1.1.0. It's not clear what versions are supported by this library

[2018-09-14 21:43] abraithwaite commented on #117
Hi @dkoston !

We've been working on API version support for a while now (it's pretty hairy with how the kafka wire protocol is defined): https://github.com/segmentio/kafka-go/pull/80

To answer your question though, IIRC the reader automatically decompresses the message.  Verifying that now though.

[2018-09-14 21:52] Pryz commented on #117
Hey @dkoston, @abraithwaite is right, the consumer (reader) will uncompress the payload automatically. If you take a look at https://github.com/segmentio/kafka-go/blob/master/message.go#L66 you will see that the reader gets the compression codec from the message attributes and decode the message if needed.

For the supported Kafka versions : due to how Kafka manages message formats, kafka-go will

[2018-09-14 21:53] dkoston commented on #117
Hi @abraithwaite! Thanks for the library btw.

Definitely understand the challenges w/ kafka wire protocol and versions.

I'm aware that the reader does auto decompression on the messages. What I'm looking to do on the reader side is determine what type of compression was used on each message for other purposes.

The code is accessing `msg.CompressionCodec` in the `decode()` function here: https:/

[2018-09-14 21:57] dkoston commented on #117
I tried kafka 0.11.0.1 as well and I'm still not able to see compressed messages.

Does the command line client also auto-decompress?

[code]

[2018-09-14 22:01] abraithwaite commented on #117
Hmm, you definitely should have those attributes set.

https://github.com/segmentio/kafka-go/blob/48c37f796910d8154479aaa04ade5843ae4f55d0/writer.go#L268-L271

Maybe there is something funky going on on the broker, but it's my understanding that all compression handling is done in the clients.

The command line client almost certainly decompresses though.

[2018-09-14 22:04] dkoston commented on #117
Yea, I checked and the command line client definitely decompresses on-the-fly.

I was expecting that `message.CompressionCodec` would be set on messages coming out of the reader as it looks like it's set here: https://github.com/segmentio/kafka-go/blob/master/message.go#L73

However, by the time the code executes and I get a message, it's always `c = 0`.

I'll try to do some more digging but for m

[2018-09-14 22:06] dkoston commented on #117
Thanks for the quick responses as well BTW!

[2018-09-14 22:14] abraithwaite commented on #117
Yeah, looking at your code and comparing it to the library code, nothing immediately stands out to us.

We'll take a deeper look though.  My gut feeling is that it's reading the batch compressed, decompressing it, then not copying the attributes over to the message somewhere.

[2018-09-17 15:52] dkoston commented on #117
Thanks both. As an FYI, my `00000000000000000000.log` file is growing at the exact same size when I remove the `CompressionCodec` option from the writer and write the messages as when the option is enabled.

I sent messages with the first 4 chapters of "Alice in Wonderland" from here https://github.com/google/snappy/blob/master/testdata/alice29.txt to make sure they should be compressed however, e

[2018-09-20 07:56] mariusw commented on #44
Just so I understand: kafka-go supports consumer groups, but not entirely (or, natively)? There has been an effort to implement it better, but that stopped in March?
We really want to use (and contribute to) this library rather than Sarama (with the sarama-cluster lib for consumer groups), but reading the open issues I get the feeling kafka-go is not quite there yet? @achille-roussel @Pryz @abrait

[2018-09-24 17:13] briansorahan opened #118 "CreateTopics returns io.EOF"
Package version: `48c37f796910d8154479aaa04ade5843ae4f55d0`

Example code: https://gist.github.com/briansorahan/0e6fac07a3076a83e36d80ae55ec48d3

I'm testing CreateTopics on an existing topic, since the idempotent behavior would be very nice to have.
Is it expected to get `io.EOF`?

[code]

[2018-09-24 18:47] briansorahan commented on #118
@achille-roussel I would love to contribute a patch. Should we just check for `io.EOF` [here](https://github.com/segmentio/kafka-go/blob/536dc150964a6758b374f98863976c0f7aa5956e/createtopics.go#L281) and return nil?

[2018-09-24 19:40] briansorahan commented on #118
If yes ^ this seems like a really small change, and I'd like to contribute a test too.

Here are the test failures on my fork:

[code]

With a little guidance on how to fix them, I'd be happy to do that too.

[2018-09-25 02:41] briansorahan commented on #118
After getting past these errors ^ I discovered that some of the tests also to have a kafka broker running locally.

At least that's how I interpret this:

[code]

I would suggest putting a build tag on these, something like

[code]

so that users can run `go test` without a lot of fuss.

wdyt?

[2018-09-25 04:54] abraithwaite commented on #118
I would be careful about adding `io.EOF` checks @achille-roussel.  Gotta remember that kafka proactively kills the connection on protocol errors, this could be one of those.

There are 4 versions of create topics in the kafka protocol:

https://kafka.apache.org/protocol#The_Messages_CreateTopics

I'm not sure which we're using in kafka-go, but please ensure that they match.

@Pryz do we have an ex

[2018-09-25 05:16] Pryz commented on #118
@abraithwaite It's more about version of the message than version of Kafka. kafka-go will work just fine with all the kafka version as long as you use message v0 and v1 formats. See : https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol

[2018-09-25 17:52] briansorahan commented on #118
Couldn't we just document that the way to acheive idempotency is to check for TopicAlreadyExists?
i.e. Can we just get rid of the switch?

[2018-09-25 17:53] briansorahan commented on #118
In fact, when I set up my little test I was expecting to see something like this ^

[2018-09-26 05:38] DiveInto opened #119 "what if I use both async and RequiredAcks for Writer?"
[code]

will config like this make Writer async(batch sending the messages), and at the same time, when sending the messages, all the msgs need ack from all replicas?

[2018-09-26 18:45] jnjackins opened #120 "-1 and -2 are used inconsistently to mean "first offset" or "last offset""
See:
[code]

And:
[code]

And:
[code]

And sometimes `-1` means something else entirely:
[code]

[2018-09-26 18:49] jnjackins commented on #120
Also, -1 and -2 are hardcoded all over the place, and the intent is almost never clear: do they mean first offset or last offset? According to our private constants, they mean one thing, and according to the Kafka protocol, they mean the opposite thing. Kafka claims that -2 is the first (oldest) offset, and -1 is the last (newest) offset.

[2018-09-26 18:50] jnjackins commented on #120
Whatever the correct values are, these constants need to be exported and used everywhere. We had the same issue with seek constants, too: the values were used inconsistently and incorrectly. Named constants makes it clear.

[2018-09-26 18:58] jnjackins commented on #120
#121 illustrates the problem in more detail.

[2018-09-27 15:13] frodopwns commented on #118
I too am running into this issue. In my case, I get the EOF error when the topic does not exist and it does not get created.

Not sure if my request is wrong or if the client needs an update to be in line with new Kafka api.

Using `kafka_2.11-v1.1.1-rc1`

[2018-09-27 15:52] achille-roussel commented on #118
@briansorahan I'm not sure how different it would be to return the "TopciAlreadyExists" error rather than checking for `err == nil`, do you have an example of how this would help you?

@abraithwaite you're making a good point that EOF may mean that the topic wasn't created as well... but in that case any future attempt to read or write to the topic will fail.

[2018-09-28 15:04] briansorahan commented on #118
@achille-roussel I'm suggesting that we avoid hiding TopicAlreadyExists from callers since they can just detect it and make their own decision. As long as we document which errors the method can return, and how to interpret each one, then it's up to the caller to implement their own policy.

[2018-09-30 03:41] achille-roussel commented on #118
I’m a bit concerned about breaking programs that depend on the current behavior, but at the same time it’s teue that we have no way of detecting if a topic already existed, so it seems like this is something that needs fixing.

Would you be able to send a pull request to make the change?

[2018-10-06 10:12] briansorahan commented on #118
I can submit a PR with that change, but I'd like to document io.EOF and what it means.

[2018-10-11 01:39] #114 closed

[2018-10-12 09:48] sanchitlohia-ovo opened #123 "Way to get batch messages and commit if the batch is successful"
There is no way to implement the below flow

1. Read batch messages from Kafka.
2. Process all the messages.
3. If all messages processing succesful - Commit the offset
4. If any of the message processing fails - Do not commit the offset and read the next batch again and try to process the messages and if successful commit the offset.

[2018-10-12 15:39] achille-roussel commented on #123
There’s already a way to do this via the FetchMessage/CommitMessages methods of the reader, the program can read messages one at a time and aggregate them to them in a batch which can then be committed.

Would this fit your use case? If not, I’d be interested to hear more details about it.

[2018-10-12 15:47] sanchitlohia-ovo commented on #123
@achille-roussel Thanks for the response. The way you suggested is correct but there is no way to read the same batch again if I am using specifying the GroupID in my reader. In my use case I have to specify the GroupID and I cannot use the reader.SetOffset(offSet) to reread the same batch again. Please suggest if there is any way.

[2018-10-16 00:14] f2prateek opened #126 "Test"
Testing Slack notifications

[2018-10-16 00:14] #126 closed

[2018-10-16 09:39] frranck opened #127 "Big messages disappearing"
Hello,
If I'm writing a "too big" message with

err = w.WriteMessages(context.Background(),
			kafka.Message{
				Key:   key,
				Value: value,
			},
		)
		if err != nil {
			log.Errorln("WriteMessage", err.Error())
		}

I'm not getting any errors, kafka and zookeeper don't show anything in the logs, and the message simply doesn't appear with kafka-console-consumer.sh.

Any idea how to fix/trouble

[2018-10-16 15:01] achille-roussel commented on #127
Is the writer configured to produce asynchronously to kafka?

If that’s the case it’s expexted to be a “lossy” production mode, messages that failed to be delivered will be retired, or dropped if they failed because of a non-recoverable error (like in your case).

[2018-10-17 08:28] frranck commented on #127
@achille-roussel thanks a lot, that helped me to get an error.

WriteMessage [10] Message Size Too Large: the server has a configurable maximum message size to avoid unbounded memory allocation and the client attempted to produce a message larger than this maximum

[2018-10-17 08:28] #127 closed

[2018-10-17 08:57] frranck opened #128 ""unsupported message version 2 found in fetch response" errror"
Hello,
On big messages after increasing the KAFKA_MESSAGE_MAX_BYTES variable, I'm getting
"unsupported message version 2 found in fetch response" errors while doing a conn.ReadBatch,
Any idea what it mean ?

the code is there:
https://github.com/diadata-org/diadata/blob/master/pkg/dia/helpers/kafkaHelper/Kafka.go#L275

[2018-10-17 10:03] achille-roussel commented on #128
Hello @frranck Are you using kafka-go to both produce and consume into Kafka?

It could help to know which version of Kafka you are running as well!

[2018-10-23 08:50] palsivertsen opened #130 "Support for Streams and Connectors"
Does this library support / plan to support Kafka Streams and Kafka Connectors?

I guess combining producers / consumers could achieve the same thing, but a utilizing the API sounds like the proper way to do it. I'm fairly new to Kafka and it's concepts, so sorry if I'm missing something.

[2018-10-23 16:06] Pryz commented on #130
We haven't looked at those yet so no plan to support Streams or Connectors. If you feel strong about it you can still submit a PR or a proposal :)

[2018-10-24 09:37] #130 closed

[2018-10-25 04:37] #120 closed

[2018-10-25 08:53] palsivertsen opened #131 "Multiple topics and topic pattern"
I've been trying to get `Reader` to work with topic regex's. Kafka documentation is very unclear on how to do this and most search results points to Java specific implementations.

# Case
I have three topics:
* `topic.a`
* `topic.b`
* `topic.c`

To subscribe to the first two topics (`topic.a` and `topic.b`) I've tried setting the `Topic` field in `ReaderConfig` to:
* `topic\.[ab]`
* `^topic\.[ab]`

[2018-10-25 10:33] larryzhao commented on #53
I second this feature request as well.

We send a couple kinds of events to kafka ( encoded in avro ), and we need to send each kind to a specific topic.

[2018-10-26 18:12] VictorDenisov opened #132 "Reader that reads from all partitions"
I need a reader that would allow me to read from all partitions of a topic.
I'm looking for a minimal solution that would allow me to do it. I see that I can do it with
combination of conn and dialer, but it requires a lot of coding.
Maybe somebody has some advice for a shortcut?

[2018-10-30 23:13] #132 closed

[2018-11-01 19:20] VictorDenisov commented on #128
The problem can occur in every version from 0.11 and up:
https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-FetchResponse

Read paragraph that starts with:
In Kafka 0.11, the structure of the 'MessageSet' and 'Message' were significantly changed.

I don't yet quite understand how clients are supposed to recognize the Message set of version 1 an

[2018-11-01 20:58] VictorDenisov commented on #128
It looks like as we read offset, size, crc and version of the first message and see that version is 2 then we should stop parsing message and start parsing batch header after parsing batch header we can start parsing individual messages according to version 2 of the batch format.

[2018-11-02 05:11] VictorDenisov commented on #128
Though it's unclear how to reproduce it. I have a broker on my local machine with 1.1.0. version and it doesn't reproduce the issue.

[2018-11-02 10:14] grglcs opened #136 "Large reader lag (in consumer group)"
Hello!

Thanks for a great library, it's a real pleasure to use it.

Unfortunately, I can't figure out how to tune the reader lag — for now it remains real big and it's hard to say that program reacts to events as fast as we expect.

I'm using high-level Reader like this (it's only one consumer in group):
[code]

This is the best config after a lot of experiments but it gives lag about 20-30 messa

[2018-11-02 14:01] VictorDenisov commented on #128
I have a reproduction.

[2018-11-02 22:20] samv opened #138 "Supply an rdkafka-compatible hash function too"
This is relatively trivial, but for folk who are also using eg confluent_kafka or other librdkafka-based libraries in other places, they might appreciate a quick way to select this.

This code uses the test cases from `github.com/edenhill/librdkafka/tests/0048-partitioner.c` to confirm that this library/polynomial pair produces the same CRC32's.

The Java world uses a different partitioning functi

[2018-11-05 22:12] samv opened #139 "Balancer API cannot be used to provide compatible balancers"
Hi, I was just integrating some code I was writing against this, and I noticed that the API provided for writing balancers does not provide the number of partitions in the topic metadata, just the available partitions.  This means that if a partition goes offline, the Hash partitioner will use a different modulus, and messages will be sent in all directions.  Saramer's Partitioner API solves this

[2018-11-05 22:28] achille-roussel commented on #139
Good catch.

Would you be available to submit a pull request to address this issue?

[2018-11-09 17:51] dcaiafaISP opened #141 "TLS: Dialer does not infer ServerName"
The kafka.Dialer does not infer tls.Config.ServerName from the hostname it is connecting to. Unless I'm missing something (I could be, please advise), my only practical option is to set `InsecureSkipVerify` to true, which is less than ideal.

kafka.Dialer.dialContext should do the same as tls.DialWithDialer:

[code]

Seems like a simple change and I'd be happy to contribute with a patch.

[2018-11-10 20:06] VictorDenisov commented on #128
@frranck What value do you have in KAFKA_MESSAGE_MAX_BYTES . I'm troubles getting a stable reproduction of the issue.

[2018-11-11 06:20] frranck commented on #128
Hi @VictorDenisov I put  KAFKA_MESSAGE_MAX_BYTES = 10000000
https://github.com/diadata-org/diadata/blob/master/deployments/docker-compose.kafka.yml#L41

[2018-11-12 09:12] townsendbt commented on #43
Hi,
I'm wondering if there is any progress on this issue? I need to use Message Headers. I'll use the confluent go client if this isn't on the radar for release.

Thanks,
Brian.

[2018-11-13 20:49] Pryz commented on #43
Unfortunately no progress since we don't have the need for it anymore. Feel free to send a PR if you have time to work on this :)

[2018-11-15 16:36] palsivertsen opened #144 "Optimising the reader"
Are there recommendations on how to optimize the Reader? When I'm comparing the example in readme to the test script that comes with Kafka, the Reader is extremely slow (up to 1 minute vs Kafka test < 1 second for processing 10 000 messages).
I've played around with the ReaderConfig without any luck.

[2018-11-16 00:50] achille-roussel commented on #144
Usually MinBytes/MaxBytes/MaxWait are the main parameters to tune to optimize throughput, the larger the batches that the reader can fetch the higher the throughput.

Do you have more details to provide on the test setup that you use (hardware, kafka configuration, reader configuration, etc...)?

If you also have CPU profiles of the reader consuming from Kafka, those could help identify any bottle

[2018-11-16 09:43] palsivertsen commented on #144
I'm running everything locally on the same machine. Kafka is set up with default settings and I've put in 10 000 messages for testing.

First I measure the test script Kafka provides:
[code]
As you can see the execution time is in the seconds range.

Kafka-go code:
[code]

And run it:
[code]
Over one minute.

Execution pauses at the following message counts:
* 5601
* 8066
* 9186
* 9690
* 9914

Whe

[2018-11-16 09:52] palsivertsen commented on #144
[code]

[2018-11-16 10:54] palsivertsen commented on #144
Upgrading form `v0.2.0` to `master` (185fcae6c0959e2368bd0f9fc8b86f0746d8c826) gives MUCH better results!

Any chance on a new release?

[2018-11-16 10:57] achille-roussel commented on #144
I just tagged v0.2.1 👍

We did release a fix for a bug where sometimes the reader would hang because it was waiting for more data than the server would send, which could have looked like poor performance because it would just hang.

Let us know if you still have trouble with the latest release.

[2018-11-16 13:15] palsivertsen commented on #144
Sounds like what I was seeing. v0.2.1 does not have these issues.

[2018-11-16 13:15] #144 closed

[2018-11-19 02:31] VictorDenisov commented on #128
@frranck can you try this branch: https://github.com/VictorDenisov/kafka-go/tree/new_v2_message_reader

[2018-11-19 03:36] VictorDenisov commented on #128
@achille-roussel according to fetch response v2 doc: https://kafka.apache.org/protocol#The_Messages_Fetch I don't see any MessageSetSize in its header.
However according to: https://github.com/segmentio/kafka-go/blob/master/read.go#L282
you are reading this value. I don't understand where in the protocol it's described. It also works in many cases. So it's even more mysterious to me. Could you ple

[2018-11-19 04:33] achille-roussel commented on #128
Sorry for the confusion, I think it’s an abuse that works because whether you have a message set or a record set, the size of the data structures follows the fetch response header, it was just more convenient to load it here.

That being said, nothing prevents us from modifying this implementation detail if needed.

[2018-11-19 04:46] stevevls commented on #128
I've been able to reproduce this as well.  In some cases, even if you produce messages sets with a `MagicByte` of 1, the broker rewrites the message set to a `RecordSet` with `MagicByte` equal to 2. (https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-Messagesets).  We do plan on adding support for reading `RecordSet` soon, and that should fix t

[2018-11-19 07:47] frranck commented on #128
Thanks @VictorDenisov  I tried your branch and it solved the problem. :+1:

[2018-11-19 17:09] VictorDenisov commented on #128
@frranck It's only a test branch though. So, do really use it yet.

[2018-11-19 17:11] VictorDenisov commented on #128
@achille-roussel The thing is that I don't understand where this field comes from. It's not in the fetch response header, but also I don't understand where it's described in message set? Can you point me to a link? Thanks.

[2018-11-20 04:12] VictorDenisov commented on #128
It looks like it's described here: https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-FetchResponse and less obviously described here: https://kafka.apache.org/protocol#protocol_common

[2018-11-20 05:39] VictorDenisov commented on #128
@frranck could you please give another try to that branch. I removed debug output from the code.

[2018-11-22 16:14] barockok commented on #93
`SetOffset` won't work for consumer group, how to set an option on consumer group so we can choose whether we want to start from "earliest" or "latest", which is the one that should be equivalent with `auto.offset.reset` in Kafka consumer config.

What to do when there is no initial offset in Kafka or if the current offset does not exist any more on the server (e.g. because that data has been dele

[2018-11-25 05:57] achille-roussel commented on #64
@savaki do you still want to make this happen?

[2018-11-25 05:58] achille-roussel commented on #5
Yep, consumer groups have been supported for a while now, we can close this issues which was tracking the feature request.

[2018-11-25 05:58] #5 closed

[2018-11-25 05:59] achille-roussel commented on #33
This was added in https://github.com/segmentio/kafka-go/commit/f2ddea9b0584b523b0ef4828d4903e856c5c6a5c

[2018-11-25 05:59] #33 closed

[2018-11-25 06:06] achille-roussel commented on #44
Catching up here, @mariusw consumer group support in kafka-go should be usable and we are using this code in production at Segment, so you should be able to as well.

If there are features that you think are missing feel free to open a discussion about it or a PR if you have a fix ready to be merged.

Regarding this issue, I think that all the work that it tracked has landed or has other issues/PR

[2018-11-25 06:06] #44 closed

[2018-11-25 06:08] achille-roussel commented on #53
Seems like this is a popular feature request, anybody willing to contribute a change to support it would be very welcome, but until we have a need for this at Segment we probably won't have time to dedicate to building it.

[2018-11-25 06:09] achille-roussel commented on #63
@savaki do you still want to make this happen?

[2018-11-25 06:11] achille-roussel commented on #141
@dcaiafaISP do you still want to make this happen?

[2018-11-25 06:13] achille-roussel commented on #139
@stevevls @Pryz @rakeshnair @erikdw do you know if offline partitions are returned in the metadata responses?

[2018-11-25 06:20] achille-roussel commented on #136
@grglcs I wonder if this is a manifestation of a bug we fixed in #143

Can you try with a more recent version of the package and let us know if you still notice the issue?

[2018-11-25 06:30] achille-roussel commented on #119
So you are configuring the writer to produce asynchronously? If that's the case then it is a lossy writer, which is why the option is disabled by default. Even with required acks, the writer may fail to send the messages and give them up.

The fact that it happens after long period of inactivities may indicate the it can be related to idle connections timing out and the client not detecting it, we

[2018-11-25 06:32] achille-roussel commented on #118
@briansorahan do you still want to make this happen? I think the idea of not making CreateTopics idempotent is probably an improvement.

Regarding `io.EOF`, it seems always unexpected to get this error on CreateTopics, so we may want to wrap it with a more descriptive error message (but I'm not sure under what conditions would Kafka close the connection in this case).

[2018-11-25 06:48] achille-roussel opened #150 "Working towards kafka-go v1.0.0"
I'm opening this issue to start the conversation on what kinds of breaking changes we would like to introduce while working towards a v1 of kafka-go.

The project is now more than a year old, we've been able to evolve it and add features, but sometimes some early design decisions got in the way of addressing some use cases or keeping the implementation easy to work with and test.

Releasing a v1 o

[2018-11-25 06:52] achille-roussel commented on #117
@dkoston we've done some work recently on the compression support in kafka-go, could you try out with a more recent version of the package and see if it's now working as you'd expect?

[2018-11-25 07:03] achille-roussel commented on #150
`(*Conn).WriteMessages` should does not expose the offset of the batch that it wrote. Currently the method returns the number of bytes and an error, which means there is no way to get this information without introducing a new API or a breaking change.

Ideally we would change the method signature to include more details about the write operation that the connection performed, for example:
[code]

[2018-11-25 07:32] achille-roussel commented on #110
@dgregoire the batch timeout should prevent this from happening as it would periodically flush the messages (the default is every 1s), see https://github.com/segmentio/kafka-go/blob/fd74aea08fe1ca25fdfd51681798dd76821f12b6/writer.go#L600

@natemurthy from looking at the stack traces you provided it looks like the code may have been blocked on establishing connections to kafka? (quite a bit has cha

[2018-11-25 07:35] achille-roussel commented on #109
@mxk1235 regarding the external dependency, we've tried to isolate those in sub-packages of kafka-go to keep the top-level package dependency-free. I'd assume we'd want to do the same in this case by abstracting the authentication mechanism behind an interface and having the kerebros implementation in a sub-package.

[2018-11-25 07:37] achille-roussel commented on #104
@navaneeth would you be available to submit a pull request that adds support for transactions? Or maybe start the discussion with some design ideas?

[2018-11-25 07:40] achille-roussel commented on #82
@matthax snappy compression is fully supported in this package and we are using it in production. I'm going to close this issue, feel free to re-open if you have any issues getting snappy compression to work.

[2018-11-25 07:40] #82 closed

[2018-11-25 07:48] achille-roussel commented on #99
@msepp this is a bug indeed. Sorry for the delay to get it addressed. Feel free to open a pull request right away next time 👍

[2018-11-25 07:50] achille-roussel commented on #93
This issue seems to be a duplicate of #88 so I'll close it. Feel free to re-open if I'm mistaken.

[2018-11-25 07:50] #93 closed

[2018-11-25 07:59] achille-roussel commented on #92
@dgregoire are you able to share which version of Kafka you had done these tests against, as well as the number of brokers and partitions in the topic? The writer definitely shouldn't block until the deadline is reached, because we have tests that verify its behavior.

If it timed out due to reaching the context deadline you should be getting en error returned from the `(*Writer).WriteMessages` ca

[2018-11-25 08:05] achille-roussel commented on #115
This seems like a similar problem to #86

@elpadrinoIV were you testing against Kafka 2?

[2018-11-25 14:44] elpadrinoIV commented on #115
@achille-roussel
Sorry for not giving version details:
/opt/kafka/libs/kafka_2.12-2.0.0.jar

From /opt/kafka_2.12-2.0.0.tgz:
ec9b505eb3f665be02e61d507db9635e  /opt/kafka_2.12-2.0.0.tgz

[2018-11-25 18:43] #99 closed

[2018-11-25 20:55] dgregoire commented on #92
@achille-roussel Kafka 1.0.1 with 3 brokers, 12 partitions / topic.

The specific use case is:
* default batch size of `5/2`
* context with timeout in 100/200/500ms
* `WriteMessages()` with 1 `kafka.Message`

In all combinaisons I tested, the `WriteMessages` function locks until the context is deadline exceeded and the function returns that error, unless the configured batch size is `1`.

I suspec

[2018-11-25 22:17] achille-roussel commented on #115
This does sounds like an issue with Kafka 2 as the two bug reports seem to show similar behaviors and were both ran on Kafka 2.

This package has no automated tests with kafka 2 yet, so I wouldn't be surprised if those kinds of issue arise.

If you want to contribute adding a test against Kafka 2 that would help track down what may have changed in later versions of Kafka that would have broken bac

[2018-11-26 08:16] erikdw commented on #139
@achille-roussel & @samv : I just researched this a bit, and [according to Jun Rao, the metadata response includes "all" partitions whether the leaders are available or not](https://mail-archives.apache.org/mod_mbox/kafka-users/201503.mbox/%3CCAFc58G8+AtVMaJaRtdNTROjGdXhoo3bO8ywnsDg6kykKmeR3zg@mail.gmail.com%3E).

An earlier (apparently erroneous) conclusion on that email thread was that the metad

[2018-11-26 10:00] pawanrawal commented on #131
I am interested in helping with this feature. For starters, can we have a way by which to read from multiple topics @achille-roussel? Right now ReaderConfig only accepts one topic from what I understand.

[2018-11-26 10:52] gimpf commented on #136
@achille-roussel We experience the same issue, and I just deployed our software with master of the library -- still experiencing the same thing. Well, it's better now, typical lag of (eyeballing) 5 instead of 10 to 15 we had earlier. Could it be that there are some related issues still open?

[2018-11-26 14:11] gimpf commented on #136
@achille-roussel Please ignore the previous remark. There was one place where explicitly setting MaxWait was missing. Once reduced, the problem was gone.

[2018-11-26 15:14] achille-roussel commented on #139
Nice :) thanks for the thorough research Erik!

[2018-11-26 16:14] achille-roussel commented on #131
That’s true.

The problem with adding support for multiple topics is it would likely be a breaking change this we would need to change the type of the Topic configuration option to be a slice of strings (or introduce some new configuration option which would make things confusing). If you have other ideas on how to add this feel free to share them :)

I think a very first step would be to add a me

[2018-11-26 21:01] pawanrawal commented on #131
This could be done in a backward compatible way by accepting a comma separated list of topics as part of the config. Does that sound OK? I can work on adding a method to list existing topics, should be an easy one I guess.

[2018-11-26 21:12] achille-roussel commented on #131
I think if we support regexp it would still work, `topic-A|topic-B|topic-C` would work the same as a comma-separated list, wouldn't it?

[2018-11-26 23:12] pawanrawal commented on #131
Any ideas about which API can I use to implement the ListTopics? I couldn't find an API while looking at http://kafka.apache.org/protocol.html.

[2018-11-27 00:01] stevevls commented on #131
Hi @pawanrawal.  Have you looked at the [Metadata API](http://kafka.apache.org/protocol.html#The_Messages_Metadata)?  If you leave the topics empty, then you'll get back metadata for all known topics.

[2018-11-27 00:03] achille-roussel commented on #131
Yep I was just looking into that https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-TopicMetadataRequest

Seems like calling `conn.ReadPartitions()`on a connection that has no topic configured would return all partitions for all topics... seems like it could be a lot of data but I don't know if kafka has a better way of doing this.

[2018-11-27 05:17] VictorDenisov commented on #128
@frranck Can you take a look at #146 and see if you can configure docker-compose to make kafka produce v2 messages.

[2018-11-28 03:06] briansorahan commented on #118
Honestly I've lost interest in this since confluent-kafka-go now supports creating topics

[2018-11-30 12:38] yctn opened #154 "Support for Zstd compression."
Kafka already support zstd compression. please consider to add it.

https://cwiki.apache.org/confluence/display/KAFKA/KIP-110%3A+Add+Codec+for+ZStandard+Compression

[2018-11-30 15:44] achille-roussel commented on #154
This would be a great addition to the project. We already support a couple of formats so there should be enough code examples to get started, would you be able to contribute a patch for this?

[2018-12-03 03:12] uynap opened #155 "The example consumer code is not working with the error "unexpected EOF""
The producer code on the front page of https://github.com/segmentio/kafka-go works. But the kafka-go's consumer code throw out "unexpected EOF" at `_, err := batch.Read(b)`.

I'm pretty sure the messages have been in Kafka. I use the Kafka command to check it. I can also use `github.com/bsm/sarama-cluster` to read the message without issues.

Our Kafka version is 0.9.0.1. Any advice on what the is

[2018-12-03 03:17] achille-roussel commented on #155
Hello, thanks for reporting the issue.

This library doesn’t support Kafka 0.9, we offer compatibility with Kafka 0.10 and upward, I would assume this is the reason why you’re getting this error.

[2018-12-03 08:02] #155 closed

[2018-12-04 08:45] navaneeth commented on #104
I'd be happy to do. But no guarantees on the timeline. Is that fine?

[2018-12-04 10:06] achille-roussel commented on #104
Sure thing, just reach out if you have any questions or need guidance :+1:

[2018-12-05 10:12] demeyerthom commented on #128
I also started getting this issue after having changed `message.max.bytes` from the default of 1 MB to 5 MB. Subsequently the consumer started throwing the `unsupported message version 2 found in fetch response` when it hit the first message larger than 1 MB.

[2018-12-06 15:02] VictorDenisov commented on #128
@demeyerthom try increasing the allowed size of message in your consumer. From my experiments I can conclude that unless you have enabled compaction or compression on the broker, kafka doesn't really mangle your messages. So, you need to make sure that your producer and doesn't produce messages bigger than your consumer consumes at once. I saw this message version 2 when in fact the message was ma

[2018-12-07 03:17] XiaochenCui opened #156 "Error getting request for apiKey: 11 and apiVersion: 1"
Error occurring during consume from kafka cluster

Consumer code:
[code]

Kafka log:
[code]

[2018-12-11 08:52] leenux opened #157 "Error after RedeliverUnacknowledged"
sry,

[2018-12-11 09:02] #157 closed

[2018-12-12 20:53] vrischmann commented on #154
As far as I can tell zstd is only available via wrappers to the C library (for example https://github.com/datadog/zstd).

This means it would require cgo, I don't know how much of a problem that is for the maintainers.

[2018-12-12 20:57] achille-roussel commented on #154
As long as it's optional (like being in a sub-package) this is totally acceptable. We don't want to enforce CGO dependency on a program that doesn't need zstd compression tho.

[2018-12-13 13:50] silence44 commented on #116
Is this feature is in progress right now?
I want to switch from sarama to segmetio but this missing feature stops me. Is there another way to get write offset in current library version?

[2018-12-14 00:01] rjenkins commented on #116
@silence44 I think we could get this in pretty quick, let me see if we can get a PR up for next week.

[2018-12-18 13:20] mr-woot opened #161 "Invalid Codec error: running Consumer"
When I try to run consumer, it throws error as "invalid codec"

[code]

[2018-12-18 19:00] stevevls commented on #161
It looks to me like you're reading compressed messages, but kafka-go hasn't been configured for that.  In order to keep required dependencies to a minimum, we doesn't automatically pull in all of the compression codecs.  Each codec lives in its own subpackage, and it's up to the client to import the codecs they will require.  If you known which compression format is in use, you can import it expli

[2018-12-19 00:13] dambrisco opened #162 "Internal timeouts should be configurable"
I'm currently running into an issue where I believe the deadlines set in places like [this](https://github.com/segmentio/kafka-go/blob/master/reader.go#L1839) are not sufficient for my configuration. (I haven't dug into to see which deadline/deadlines specifically are causing my specific issue as it doesn't seem relevant, but I'm happy to if the information would be useful.) Exposing a field that

[2018-12-19 09:09] DiveInto commented on #119
Yes, it's a asyn-producer and its caused by idle connections timing out.

any suggestion to get rid of the message loss caused by this?
the pattern is that if client idle for some time, it will fail to deliver the 1st msg, then follow up msgs will success.

One solution I can come up with is starting a go routine, and periodically send msgs to keep the producer alive.

Don't know if there is any b

[2018-12-19 10:34] bullsi commented on #161
@stevevls Thank you, that works. However, I am facing another issue. Since I wanted to use consumer group Id, I used `kafka.NewReader` as below. It works all fine except that it takes considerable seconds (sometimes 10s) to actually consume from Kafka. It's counterpart written in Python consumes the messages immediately.

[code]

[2018-12-19 17:38] bullsi commented on #161
@stevevls Thank you, that works. However, I am facing another issue. Since I wanted to use consumer group Id, I used `kafka.NewReader` as below. It works all fine except that it takes considerable seconds (sometimes 10s) to actually consume from Kafka. It's counterpart written in Python consumes the messages immediately.

[code]

[2018-12-21 07:59] mr-woot commented on #161
@stevevls It worked.

[2018-12-26 23:38] dgregoire commented on #110
@achille-roussel the test I was doing has many (1000s/s) concurrent writes of one message using the same `Producer` and they all blocked indefinitely until I set batch size to `1`.

I'll try retesting with the latest version and update this.

[2018-12-27 08:38] ppatierno opened #164 "The leaveGroup is not called on close"
I have a simple consumer application which uses the blocking `ReadMessage` in an infinite for loop for getting messages.
In order to close the consumer gracefully I am using a context with "cancel" ...

[code]

There is a go routine which is in charge to get signals (SIGING, SIGKILL, ...) and calling the above `cancel` function in order to have the main routine exiting from the blocking `ReadMessa

[2018-12-27 13:52] ppatierno opened #165 "Using default 1 MB `MaxBytes` is not possible if `MinBytes` is specified in `ReaderConfig`"
With the current implementation, it's not possible to set the `MinBytes` on the `ReaderConfig` but not specifying the `MaxBytes` with the intention of using the default value (1 MB).
This happens because the following check ...

[code]

... is done before assigning default values to the min anx max bytes properties.
For example if we want `MinBytes` at 1 and `MaxBytes` as default (so without speci

[2018-12-28 00:48] natemurthy commented on #110
As much as I appreciate the effort to write a native Go library for Kafka clients, I have opted to use the confluent-kafka-go for my applications. Thank you and feel free to close this out unless others are still tracking this issue.

[2018-12-28 00:53] dgregoire commented on #110
@natemurthy I'm still tracking it and plan to re-test with the same conditions against current head

[2018-12-28 07:45] chainarong-Trainapakul opened #167 "error write msg to kafka"
conn, err := kafka.DialLeader(context.Background(), "tcp", "x.x.x.x:9092", "myTopic", 0)
if err != nil {
   fmt.Println(err)
}

that got error = "not enough bytes available to load the response"
how to fix it ?

[2018-12-28 22:16] scarbo87 commented on #116
I could take on this task.
If I understand correctly, all the necessary data is written in the method `produceResponsePartitionV2.readFrom`. Is it so?
Do you want to make a new method
[code]
analogue of the
[code]
?

In the current code, it is faster to make this variant
[code]

[2018-12-30 18:12] rjenkins commented on #116
@scarbo87 after some discussions with @achille-roussel we decided to introduce a new client rather modify the existing ones. I'm out until Jan 4th, so current ETA on this for me is week of Jan 7th. If you need it sooner and want to take a pass at it, PRs are always welcome :+1:

[2019-01-03 21:38] vrischmann opened #170 "Reader spams logs because of a harmless timeout."
Hello,

I'm using the `Reader` type and with `ErrorLogger` set my logs are getting spammed with messages like this:

    time="2019-01-03T21:32:05Z" level=info msg="no messages received from kafka within the allocated time for partition 12 of apps-logging-logfmt at offset 826264824" package=kafka
    time="2019-01-03T21:32:05Z" level=info msg="no messages received from kafka within the allocated t

[2019-01-03 22:15] scarbo87 commented on #116
https://github.com/segmentio/kafka-go/pull/171

[2019-01-04 01:57] #165 closed

[2019-01-04 02:30] achille-roussel commented on #161
@mr-woot should we close this issue?

[2019-01-04 02:31] achille-roussel commented on #136
@grglcs any updates on this issue?

[2019-01-04 08:31] chainarong-Trainapakul commented on #167
version : kafka_2.10-0.9.0.1
I'm try on kafka_2.10-0.10.2.2 and i got same error

[2019-01-04 21:50] #170 closed

[2019-01-04 23:42] achille-roussel commented on #167
This project has only been tested against Kafka 0.10+ and Kafka 1. Confluent introduced breaking changes in Kafka 2 so I would expect things not to work.

We'd welcome fixes tho if you're available to look into the issue.

[2019-01-05 08:14] ppatierno commented on #164
I don't know the library in details (I should dig into the code) but if "reader is closed" means that the consumer has closed the connection to the brokers, then it will start a partitions rebalancing in the consumer group. The clean way should be having the consumer sending the "leave group" while it's still connected.

[2019-01-05 21:39] ppatierno opened #174 "Using `0` as required acks returns an `InvalidRequiredAcks`"
The current `conn.SetRequiredAcks()` method doesn't take into account the `0` value (which means no ack from the broker) as a valid one.
If `0` is used, the above method returns an `InvalidRequiredAcks` which is not right.

[2019-01-05 21:41] ppatierno opened #175 "An `InvalidRequiredAcks` error is just ignored"
The `writer.dial()` method just ignores a possible error due to an invalid required acks.
As reported in #174, even using `0` returns an `InvalidRequiredAcks` but it's ignored here so all it's working fine (but it should not).
This is also the reason why using a `RequiredAcks` different from -1, 0 and 1 in the `WriterConfig` doesn't raise any error.

[2019-01-10 10:57] mr-woot commented on #161
yes.

[2019-01-10 12:31] #161 closed

[2019-01-10 12:59] bullsi commented on #136
I have a fresh version and I am facing the exact same issue. Most of the time, the consumer gets stuck at the beginning and then consumes a bunch at a time. Sometimes, it gets stuck only certain topics apparently waiting for a batch. And if I run the same consumer code (with different group Id), one system reads everything while the other one gets stuck consuming from the same Kafka server. The ot

[2019-01-11 17:35] abuchanan-nr opened #178 "Fast reading for testing without log spam"
I'm writing some simple tests and I want to configure the reader to read messages immediately. These are low traffic, only a few messages.

I used `ReaderConfig.MaxTime` to achieve this. Unfortunately, this makes both the Logger and ErrorLogger extremely spammy. I'd prefer to have logging always on, so that logs are useful for testing/debugging without going in to modify the test code.

Do you hav

[2019-01-17 06:18] mr-woot opened #179 "kafka.Message to JSON String conversion."
Hi, any method to convert kafka.Message to JSON string, including values like Topic, Offset, Partition, Value, etc.

[2019-01-17 07:58] scarbo87 commented on #104
I want to do this task. @achille-roussel, have any idea?

[2019-01-20 10:23] likun123687 opened #180 "[Help want]example about multiple process/concurrency in same consumer group?"
There is already a consumer groups example:
r := kafka.NewReader(kafka.ReaderConfig{
    Brokers:   []string{"localhost:9092"},
    GroupID:   "consumer-group-id",
    Topic:     "topic-A",
    MinBytes:  10e3, // 10KB
    MaxBytes:  10e6, // 10MB
})

for {
    m, err := r.ReadMessage(context.Background())
    if err != nil {
        break
    }
    fmt.Printf("message at topic/partition/offset %v

[2019-01-22 17:30] abuchanan-nr opened #181 "Question: best way to get offsets for partition?"
I need to write tests which check that the offsets for partitions are what I expect. At first I just called `Conn.ReadOffsets`, but I get an error `Unknown Topic Or Partition: ...`.

What is the best way to get a topic/partition-specific connection in order to read offsets? The Dial API has a lot of variety: some take a net.Conn, some a Partition, some a topic string + partition int, etc.

Sorry,

[2019-01-22 22:05] abuchanan-nr commented on #181
I should clarify, I'm testing the behavior of consumer groups, so the offsets should be group + partition specific.

[2019-01-23 17:47] abuchanan-nr commented on #150
One idea would be to give consumer groups their own reader API. Currently it seems like Reader is playing two roles, and while I appreciate the simplicity, it creates an awkward overlap for some methods. For example, methods relating to offsets often come with a caveat such as `-1 if r is backed by a consumer group`. This is related to #181, where I'd like to have access to read the latest offsets

[2019-01-26 23:16] scarbo87 commented on #43
I tried to implement #185 , but failed.
Messages are sent to Kafka, but there are no headers.
Have any ideas?

[2019-01-28 05:35] achille-roussel commented on #43
Making progress on this front with https://github.com/segmentio/kafka-go/pull/163

[2019-01-28 05:39] achille-roussel commented on #180
Hello @likun123687

You could call `ReadMessage` concurrently from multiple goroutines, or each goroutine could have its own reader.

When he reader is part of a consumer group it may already fetch messages from multiple partitions, depending on the rebalance logic.

Let me know if that helps, or maybe tell us a little more about your use-case!

[2019-01-28 05:48] achille-roussel commented on #181
This is not a feature we currently expose in the public API, but if you're available to contribute a change we'll be happy to merge it!

[2019-01-28 05:51] achille-roussel commented on #178
We merged https://github.com/segmentio/kafka-go/pull/172 recently, which may be related to the problem you describe.

Do you mind sharing which version of the package you're working with?

[2019-01-28 05:53] achille-roussel commented on #179
In go you can marshal any value to JSON with code like this:
[code]
The key and value of the message will be base64 encoded because they are `[]byte` value, the rest of the values should be rendered as numbers and strings.

Lett me know if that helped, or maybe you can share a bit more about your use case?

[2019-01-28 06:04] achille-roussel commented on #139
It seems like the original concern has been addressed, I'll close but feel free to re-open if this needs further discussion!

[2019-01-28 06:04] #139 closed

[2019-01-28 06:05] achille-roussel commented on #156
Could you share the version of Kafka that you are testing against?

[2019-01-28 06:07] achille-roussel commented on #167
We're adding tests to validate that kafka-go works against Kafka 2.x and haven't been able to reproduce the issue.

Do you mind sharing a little more about your setup? Maybe a docker-compose file that we can use to reproduce the issue?

[2019-01-28 16:14] abuchanan-nr commented on #178
We're on a28af3c7f143 which is just a couple days older than #172, which I think will fix the problem. Thanks!

[2019-01-28 16:14] #178 closed

[2019-01-29 00:59] ShaneSaww opened #188 "MaxMessageBytes for Producer"
It looks like it's not possible to set MaxMessageBytes for a Producer.
This is quite important as you can get errors trying to send to kafka if the producer batch size is too large, as you can't produce a  message you send  larger then the broker configured MaxMessageBytes.

[2019-01-29 17:23] WillAbides commented on #164
I've recently run into this issue after moving from confluent-kafka-go.

This code in `reader.Close()` confused me:  https://github.com/segmentio/kafka-go/blob/e442c3981eae27aa4da0fa4d7d31d17d0d9721de/reader.go#L1157-L1168

From what I can tell, `r.coordinator()` on line 1164 will always return an error because `r.stctx` will have been canceled by the `r.stop()` on line 1158.  Since `r.coordinator

[2019-01-31 08:57] mr-woot commented on #179
@achille-roussel You can close this issue.

[2019-01-31 18:30] grglcs opened #192 "How to investigate write failures?"
As far as I'm using such cool library as kafka-go I faced sometimes unpredictable write failures.
I'm using high-level Writer and write messages asynchronously.
Currently it's about 8 concurrent writers to different topics. And write to some of topics that used rarely than others fails as I can see by reading from topic.

How I can investigate the reason of such behaviour?

Also, high-level Reader

[2019-02-01 10:16] grglcs commented on #136
@achille-roussel sorry for the long response, yep, recent update fixed it, thanks!

[2019-02-01 10:16] #136 closed

[2019-02-01 11:49] grglcs commented on #192
Let me explain in other words.

As I noticed, disabling "async" on writer makes things better as there are several re-tries to send message — never failed to send messages to kafka.
But it causes freeze on caller to amount at least of `writer.BatchTimeout` what looks like big lag on sending like 100 messages one-by-one even if `BatchTimeout` set to `200ms`

So what to do? Decrease `BatchTimeout` t

[2019-02-01 12:08] grglcs commented on #192
One more update: the error while writing is `error writing messages to <topic> (partition 0): EOF`

[2019-02-05 17:48] VictorDenisov opened #193 "Allow publishing to many topics and partitions at once"
Current implementation of produce request sends messages to single topic and single partition in one record batch. If one message from input topic fans into several topics it becomes expensive to publish several messages to different topics. It costs full round trip to kafka to send another message. Kafka protocol provides this ability to send messages to several topics and partitions at once.
I'm

[2019-02-05 18:17] ShaneSaww commented on #192
Working with Kafka-go I've seen the same problem.
I'm wondering if adding retries into the async producer makes sense. From my understanding that would match the java and librd kafka clients.

for example: https://github.com/edenhill/librdkafka/wiki/Producer-message-reliability#temporary-server-side-errors

[2019-02-06 00:44] #164 closed

[2019-02-07 08:45] maeglindeveloper opened #197 "Offset for consumer group"
Hey everyone,

I'm actually trying to use kafka-go using `Reader` and consumer group.
I did not find a way to know what is the **last offset of the partition** attributed to my reader until I fetch it first message.
Not using consumer group, it is working perfectly using the `ReadLastOffset` of a `Conn` object (which mean that you should know the partition btw).
Any ideas ?

Thanks for your help :

[2019-02-07 16:49] achille-roussel commented on #197
Hello @maeglindeveloper

This is not a feature which is currently supported by kafka-go, however if you have spare cycles we would welcome a contribution to add it!

[2019-02-09 17:26] abonec opened #198 "ReadMessage do not return "invalid codec" error"
When calling ReadMessage if codec is not imported this method will infinite block with cpu and memory usage. I spent many hours to investigate such kind of problem, it is not user friendly.

[2019-02-10 06:28] TheGUNNER13 opened #199 "consumer-group going into rebalancing state whenever services are scaled up and they try to join a particular consumer group"
we are running our services in AWS EC2. When we start with one service instance, the consumer group --describe properly displays the details of the reader (service) that joined the group. Now when we scale this service, the consumer group --describe tell that its in rebalancing state, and it stays there and no messages flow.

this is the init of the reader that i use in code.

`
reader = kafka.New

[2019-02-11 01:22] cosmopetrich opened #200 "Consumer group larger than partition count causes constant reconnection attempts"
Running a group of kafka-go consumers that contains more consumers than there are partitions in a topic results in the surplus consumers continuously attempting to rejoin the group with no delay.

The library will log these three messages 20+ times per second.

[code]

Running unnecessary extra consumers isn't usually desirable but it's something that can happen. For example, a Kubernetes event mi

[2019-02-11 18:14] stevevls commented on #199
Hi @TheGUNNER13.  Can you verify which commit you're using?  We recently fixed issue #164, which I believe would cause this behavior.

[2019-02-11 20:10] eliaslevy opened #201 "Clarify Reader concurrency safety"
Related to #180, the documentation is silent on whether `Reader` is safe to use concurrently from multiple goroutines.

[2019-02-11 20:25] eliaslevy opened #202 "Asynchronous message processing support"
When using a `Reader` to process multiple messages concurrently, whether by sharing the `Reader` among a group of goroutines or having main goroutine own the `Reader` that farms out the messages to the worker goroutines, message may finish processing out of order.

Currently, `CommitMessages` assumes that messages are processed in order within a partition, as `offsetStash` merely keeps track of a

[2019-02-11 22:45] joshwget commented on #202
What you're suggesting could be built on top of kafka-go rather than directly inside the project. I don't directly work on kafka-go but it seems to me that the goal of the project is to be a low level interface to Kafka (similar to https://github.com/Shopify/sarama).

For our needs we've built a package on top of sarama that supports parallel / out of order processing of messages. Only the "lowest

[2019-02-13 05:55] TheGUNNER13 commented on #199
i feel this is fixed, did not face this after a pull of this lib.

[2019-02-13 17:49] stevevls commented on #199
Awesome...glad to hear it.  I'm going to close this issue then, but please re-open if you see it happen again.  Thanks!

[2019-02-13 17:49] #199 closed

[2019-02-13 17:55] stevevls commented on #118
Echoing @abraithwaite, this sounds very much a case of the broker not understanding the version of the request and closing the connection.  It looks like we were sending `v2` of the `CreateTopicsRequest` up until #81.  Now we're sending `v0`, which will have wider support.  I'd expect this to no longer be an issue.

[2019-02-15 14:35] magicdvd commented on #131
@pawanrawal how about the PR of support mulit topics? regexp is not a good way for topics with different name. I think extend the config option "Topics" string slice or a comma separated list is better.

[2019-02-15 22:14] #43 closed

[2019-02-15 22:15] stevevls commented on #118
Closing this issue.  Please re-open if you see this behavior on Kafka >= 0.10.0!

[2019-02-15 22:15] #118 closed

[2019-02-15 22:18] stevevls commented on #117
I'm going to close this issue now.  I don't believe it to be an issue ever since #135.

[2019-02-15 22:18] #117 closed

[2019-02-15 22:19] #179 closed

[2019-02-15 22:30] stevevls commented on #100
This should be fixed by #135.  Please re-open if you think it's still an issue.

[2019-02-15 22:30] #100 closed

[2019-02-15 22:58] stevevls commented on #156
The logs would indicate Kafka 1.1, but it shouldn't be complaining about that version of the `JoinGroupRequest` (api key 11).  Our CI tests cover that combination.  Going to close for now due to inactivity.

[2019-02-15 22:59] stevevls commented on #119
Closing this issue since it sounds like the code is behaving as documented and there's a possible workaround.

[2019-02-15 22:59] #119 closed

[2019-02-17 19:51] tarekbadrshalaan opened #210 "Create multiple example for kafka-go"
I was wondering if i can contribute with you by creating `example` directory include multiple example about how to use **kafka-go**.

thanks for your advice.

[2019-02-17 20:10] achille-roussel commented on #210
This sounds like a great idea, what would you need from us to make this happen?

[2019-02-17 21:29] tarekbadrshalaan commented on #210
as you can find in my repo https://github.com/tarekbadrshalaan/GoKafka
I was working to find Golang package able to communicate with Kafka, and found **kafka-go** is the best.
I create sample example with docker file.
what I need to create example for

1. **simple consumer**
2. **simple producer**
3. **docker-compose example with end point, data storage, consumer and producer**

if those examples

[2019-02-18 07:17] chainarong-Trainapakul commented on #167
when i'm try on kafka 2.11-2.1.0 . I have no issue.
thank you

[2019-02-18 07:17] #167 closed

[2019-02-24 00:22] VictorDenisov opened #216 "Transactions"
I would like to work on transactions for kafka-go: https://www.confluent.io/blog/transactions-apache-kafka/
Are there any objections?

Tasks:

- [x] Add isolation level config to reader (READ_COMMITTED, READ_UNCOMMITTED);
- [x] Introduce produce request V3 which will allow us to specify transactional id;
- [x] Handle control messages; #261
- [x] Implement find transaction coordinator request; #275

[2019-02-25 23:06] Erog38 commented on #156
I just ran into this as well. Kafka 2.1.1 with this docker-compose.yml

[docker-compose.yml](https://github.com/segmentio/kafka-go/files/2903015/docker-compose.yml.txt)

[2019-02-26 02:09] stevevls commented on #156
Hi @Erog38.  It looks like the docker setup you posted is using Confluent Platform 3.0.1, which runs Kafka 0.10.0.1 (https://docs.confluent.io/3.0.1/release-notes.html).  We're using `JoinGroupRequest` `v1`, which was added in Kafka 0.10.1.0.  We should be able to downgrade the request to `v0` when connecting to older versions.

[2019-02-26 16:31] Erog38 commented on #156
@stevevls Thanks for the info! I'll upgrade to 0.10.1.0 soon and play around with it there, but this support would be greatly appreciated.

[2019-02-26 17:26] abuchanan-nr commented on #150
I've noticed there's a lot of variety in terms for first vs last offsets:
- SeekStart vs SeekEnd
- Java docs use "earliest" vs "latest"
- FirstOffset vs LastOffset constants
- in discussion: "oldest" vs "newest"
- head vs tail

It's a minor docs/style thing, but v1 breaking changes is probably the last opportunity to change this.

Personally, "oldest" vs "newest" never confuse me, but I have to th

[2019-02-26 17:30] stevevls commented on #156
Sounds good.  In other news, we just added an official list of supported Kafka versions (#217).

[2019-02-27 15:07] NaerChang2 opened #219 "graceful handling of producer error"
When using Writer on a topic that doesn't exist I see an error:

I assume this is a race condition so it's not guaranteed to happen every time - so low risk issue I think, especially if you pre-create the topic you should not have this issue). I only saw it once on first publish and subsequent publish seems to be fine.

I see in the Writer's config there is a setting called MaxAttempts which defau

[2019-02-27 15:37] achille-roussel commented on #219
Hello, and thanks for reporting.

I’ve experienced that Kafka topic creation tends to be eventually consistent and trying to use a topic right after creating it my yield some errors.

This seems to be a really rare use case in production, so I’m not sure it’s worth “fixing”, especially because it could mask more important errors when a producer is misconfigured.

Do you have more details you could

[2019-02-27 20:44] NaerChang2 commented on #219
It happened during testing. So I just wrapped this library in a CLI tool for testing purpose. This tool simply publishes a message on a topic that does not exist against another machine where kafka is running as a docker container in ubuntu 18.04.

Docker launch command (only 1 kafka instance running):

[code]

I just tried the same test and I got same errors twice in a row. Kafka server logs:

[c

[2019-02-28 04:30] yaoguais opened #220 "Consumed message returned stanger offset and it seems lost some messages"
**Describe the bug**
A clear and concise description of what the bug is.

reader returned a message that

offset is 65535 or 4294967295 and
value and key is nil but
partition has the correct value.

such as:
[code]

but the previous mesage offset is 4799.

**Kafka Version**
What version(s) of Kafka are you testing against?

Apache Kafka: 2.11-2.1.1

**To Reproduce**
Steps to reproduce the behavior

[2019-02-28 06:01] #220 closed

[2019-02-28 09:52] yaoguais commented on #220
Apache Kafka 2.11-2.1.1 is not compatible with kafka-go v0.2.2.

[2019-03-02 22:52] achille-roussel commented on #216
The plan sounds solid to me 👍

[2019-03-05 18:05] smmcneill commented on #201
Please advise.  Referring to [#180](https://github.com/segmentio/kafka-go/issues/180).  Achille's response _suggested_ that `Reader` is safe for concurrent use, but getting a definitive _yes/no_ is appreciated.

[2019-03-05 18:06] achille-roussel commented on #201
Yes, the `kafka.Reader` and `kafka.Writer` types are safe for concurrent use, apologies if the documentation wasn't clear about it.

Happy to merge an update if you want to contribute a fix for that 👍

[2019-03-07 23:02] VictorDenisov opened #225 "Partition reassignment causes reader to fail with arbitrary errors"
**Describe the bug**
I have a reader that consumes messages from a topic. This topic has only one partition and only one replica in a three node kafka cluster. Reassigning partition to another broker causes reader to close with different errors that are not only unhandled, but also can vary from version to version of kafka.

Error on kafka 1.1.1: `Not Leader For Partition: the client attempted to

[2019-03-08 00:17] abuchanan-nr commented on #200
@stevevls we're going to need this very soon, so I'm going to take a look. Just a heads up in case you already have a bunch of work done.

[2019-03-08 00:23] stevevls commented on #200
@abuchanan-nr Thanks for the heads up!  I haven't dug in on this bug yet, so please feel free to send in a PR.  Let me know if I can help.

[2019-03-08 16:25] abuchanan-nr commented on #200
@stevevls I think this is the source of the behavior: https://github.com/segmentio/kafka-go/blob/master/reader.go#L437

Question is, what to do instead. In the case where you have too many consumers (this bug), this should be an info log, I think. Is there another case? I can't think of one yet.

I can PR that simple change, but wanted to get some careful thought from others first.

[2019-03-09 22:39] divmgl opened #226 "`Can't assign requested address` error on MacOS using Docker"
**Describe the bug**
[code]
throws this error on initial connection:
[code]
I'm running a single Kafka instance with Zookeeper using Docker on a MacOS machine.

**Kafka Version**
2.12

**To Reproduce**
[code]
Then run the code sample.
[code]
**Expected behavior**
To consume messages without error.

[2019-03-09 23:08] divmgl commented on #226
My topic was cached in Zookeeper and did not have a leader. Kafka could not find a leader to elect due to some bad settings from previous versions of my `docker-compose.yml` file. Running `docker-compose down` and `docker-compose up -d` fixed it.

[2019-03-09 23:08] #226 closed

[2019-03-10 08:05] magicdvd commented on #198
I have the same problem. How could i imported the right codec while ReadMessage?

[2019-03-10 08:13] magicdvd commented on #198
I have found the solution
import codec in main
import _ "github.com/segmentio/kafka-go/snappy"

[2019-03-10 22:45] pawanrawal commented on #200
This also happens when the topic doesn't exist and auto-creation of topics is disabled on the server. This loop: https://github.com/segmentio/kafka-go/blob/master/reader.go#L868 should try the reconnect with a delay in such cases.

[2019-03-11 07:59] pshopper opened #227 "Endless waiting for consumer connection"
**Describe the bug**
If kafka unavailable (connection refused or other error), refreshCoordinator func performs endless.

**To Reproduce**
Try to fetch message (by reader.FetchMessage with consumer group) with unavailable kafka.

**Expected behavior**
Reader will return error and logging this.

[2019-03-11 11:54] misha-tectonic opened #228 "Reader: distinguish between "no messages" and "connection is down""
I'd like to be able to distinguish between "No new messages" sent by server, and "Connection is down, but we haven't figured it out yet" in `Reader`.

This is possible to do with `Conn`: if a server-side timeout lapses, an empty `Batch` is returned and can be examined, but `Reader` swallows empty batches without notifying clients.

I have a very gross implementation that works, but I suppose somet

[2019-03-11 20:51] abuchanan-nr commented on #200
@pawanrawal I'm glad you mentioned that. By the way, it turns out that retry loop (`handshake()`) is not throttled by a backoff. It probably should be.

I think I can craft a way to use `UnknownTopicOrPartition` to retry that specific case. The simple way to do that is to add a retry loop here: https://github.com/segmentio/kafka-go/blob/master/reader.go#L255

This is what I have so far: https://gi

[2019-03-11 21:01] stevevls commented on #198
Glad you found the solution!  I still think that there are two things to fix here:
1. The README talks about how to enable compression on the `Writer` but doesn't have an example for the `Reader`.
1. We should bubble up the error somehow instead of just swallowing it because the `Reader` will not be able to make forward progress in this case.  That's why you end up in the loop.

[2019-03-11 21:29] stevevls commented on #200
@abuchanan-nr I agree with your assessment.  It's not an error from the point of view of the consumer group protocol if there are more consumers than partitions, so we should just log a warning (since it's almost certainly an undesirable state) and then return success.  That should cause the consumer to hang out idle until another CG rebalance occurs.

Can you give me a little more context on when

[2019-03-11 21:49] abuchanan-nr commented on #200
@stevevls Re: `UnknownTopicOrPartition` comes up via `run -> handshake -> rebalance -> joinGroup -> assignTopicPartitions -> conn.ReadPartitions`. So yes, it does come from joining a group. As far as I can tell, `run()` is the only code to initiate that pathway, so retrying in `assignTopicPartitions` seems reasonable (i.e. doesn't negatively affect some other code)

Sounds like I'm on the right tr

[2019-03-11 22:03] stevevls commented on #200
@abuchanan-nr Great...thanks for the call graph.  One thing to keep in mind is that `assignTopicPartitions` only happens on the consumer group leader in between calling `joinGroup` and `syncGroup`.  If we put a blocking retry loop there, it could have unanticipated side effects.  I suspect that if the topic doesn't come into existence soon enough, it would cause the sync operation to time out for

[2019-03-12 18:39] abuchanan-nr commented on #200
@stevevls Agree that blocking `joinGroup` is bad. I looked into your suggested approach, but it led to hunting down lots of places to handle `UnknownTopicOrPartition`.

This is what I have so far: https://github.com/segmentio/kafka-go/pull/229

I created a blocking loop that will wait for the topic to exist before starting the rebalance process (joinGroup, syncGroup, etc).

[2019-03-13 11:28] hoveychen opened #231 "Respect the port from Resolver in Dialer."
We'd like to implement the `Resolver` interface to adapt our name discovery system.
Our name resolving sys returns not only host but also port. However, the current `Dialer` implementation abandons the resolved port. Would we add an option to opt in port resolving?

[2019-03-15 17:55] Jarema opened #233 "Exactly once"
**Describe the solution you'd like**
Company I work for is using kafka as one of ways to communicate between services and GO is one of core languages we use.

We would love to use kafka-go, as it's API looks much nicer than Sarama, yet we have two requirements:
* exactly once support for producer (so indepotence flag) suppoer
* transactions support

With the latter I see #216 being in progress.
Ho

[2019-03-15 18:55] Pryz commented on #233
Hi @Jarema ,

I'm not aware of any current work toward exactly once support. If your team is willing to tackle that part, any contribution is welcome !

[2019-03-16 07:59] Jarema commented on #233
Hi @Pryz.
I will look into it. The problem is we have tight deadline on this and my decision depends on cost of implementation of at least exactly one feature.

In theory, it doesn't sound complicated:
- each producer session has its own PID and a sequence number.
- with each request, producer sends the PID and sequence
- producer uses indepotence flag
- if producer does not get ACK for a message,

[2019-03-16 20:07] VictorDenisov commented on #233
@Jarema Idempotence flag is also a requirement for supporting transactions. You can read it here: https://docs.google.com/document/d/11Jqy_GjUGtdXJK94XGsEIK7CP1SnQGdp2eF0wSw9ra8/edit#
Look at pages 21-22. Let's stay in touch regarding this implementation.

[2019-03-17 06:55] Albinzr opened #236 "kafka-go client not retrieving all the message"
**Describe the bug**
I have sent in more than 10k message in kafka producer, but in kafka client is only receiving 882 messages when I run client again

**Kafka Version**
What version(s) of Kafka are you testing against?
2.1.0
**To Reproduce**
Steps to reproduce the behavior.  Bonus points for a code sample.
**Client code**
`
                package main

		import (
			"context"
			"fmt"
			"time"

[2019-03-17 19:42] VictorDenisov commented on #236
Looking into it.

[2019-03-17 20:08] achille-roussel commented on #236
@Albinzr the size and number of messages in a batch are mostly controlled by Kafka. A typical program would call `conn.ReadBatch` in a loop as the client doesn't have control over the range of messages that the fetch response will contain, it can only give Kafka hints about how many bytes it wants to read, and how long it wants to wait.

[2019-03-18 02:02] Albinzr commented on #236
@achille-roussel Can you give me an example for how to user kafka.Reader?

[2019-03-18 15:18] VictorDenisov commented on #236
[code]

[2019-03-18 17:27] stevevls opened #237 "SASL: add support for GSSAPI mechanism"
**Describe the solution you'd like**
Once #223 is merged, we can add support for GSSAPI (Kerberos) authentication.

**Supporting documentation**
https://cwiki.apache.org/confluence/display/KAFKA/KIP-43%3A+Kafka+SASL+enhancements
https://docs.confluent.io/current/kafka/authentication_sasl/authentication_sasl_gssapi.html

[2019-03-18 17:28] stevevls opened #238 "SASL: add support for OAUTHBEARER mechanism"
**Describe the solution you'd like**
Once #223 is merged, we can add support for Oauth authentication.

**Supporting documentation**
https://cwiki.apache.org/confluence/pages/viewpage.action?pageId=75968876
https://docs.confluent.io/current/kafka/authentication_sasl/authentication_sasl_oauth.html

[2019-03-18 21:20] stevevls commented on #109
Just merged in #223 which adds general support for SASL as well as implementations for PLAIN and SCRAM mechanisms.

Also opened #237 and #238 as follow-ups to add additional SASL mechanisms.

[2019-03-18 21:20] #109 closed

[2019-03-19 08:46] Andy320 commented on #216
@VictorDenisov @achille-roussel
Thanks for your hard working about this major feature. And may I know the ETA？Looking forward to it in our project.

[2019-03-21 06:08] Albinzr commented on #236
@VictorDenisov I tried your code and its working fine but it very slow in reading the message, It took 5 min to read around 6000 messages.

[2019-03-21 21:07] achille-roussel commented on #53
@stevevls is going to take a look at this.

[2019-03-21 21:08] achille-roussel commented on #162
Closing due to inactivity.

[2019-03-21 21:08] #162 closed

[2019-03-21 21:10] achille-roussel commented on #63
This has been implemented a while ago, closing.

[2019-03-21 21:10] #63 closed

[2019-03-21 21:13] achille-roussel commented on #64
We'll close this due to inactivity, but feel free to reopen if it deserves to be looked at again.

[2019-03-21 21:13] #64 closed

[2019-03-21 21:16] achille-roussel commented on #84
I'll update the documentation to make it more explicit what the behavior of the reader is, then close this issue.

[2019-03-21 21:19] stevevls commented on #86
We will investigate this as part of #115 because we think they're related.

[2019-03-21 21:19] #86 closed

[2019-03-21 21:24] achille-roussel commented on #104
Closing this issue in favor of #216

[2019-03-21 21:24] #104 closed

[2019-03-21 21:28] achille-roussel commented on #110
We can't reproduce the issue so we'll close for now, but if you have more details to share about the code or your environment feel free to reopen 👍

[2019-03-21 21:28] #110 closed

[2019-03-21 21:29] achille-roussel commented on #113
I'm going to close it due to inactivity, but we'll still welcome a contribution to add this feature 👍

[2019-03-21 21:29] #113 closed

[2019-03-21 21:30] #116 closed

[2019-03-21 21:35] achille-roussel commented on #128
This should have been fixed by https://github.com/segmentio/kafka-go/pull/146

[2019-03-21 21:35] #128 closed

[2019-03-21 21:38] achille-roussel commented on #131
@magicdvd a configuration option to list topics that the reader should consume from sounds like a good plan 👍

Would you be able to contribute a patch for this?

[2019-03-21 21:46] achille-roussel commented on #175
Thanks for reporting, it seems like the best thing to do would be to validate the RequiredAcks value in WriterConfig when creating a Writer, what do you think?

Would you be able to submit a patch for this?

[2019-03-21 21:51] achille-roussel commented on #180
Closing in favor of #201

[2019-03-21 21:51] #180 closed

[2019-03-21 21:57] achille-roussel commented on #192
@grglcs do you have a way to reproduce this in an isolated environment?

EOF seems like the connection got closed by the server and because you're using the async writer the messages are not guaranteed to be delivered if the brokers suffer unavailability.

[2019-03-21 22:10] achille-roussel commented on #193
Thanks for opening the discussion on this topic.

Merging messages going to different topic and partitions to a single produce requests can have side effects like head-of-line blocking due to the fact that independent operations now share a single TCP connection.

In low-latency scenarios (where Kafka often runs, like internal networks) it is usually OK to pay more round-trips to enable more paral

[2019-03-21 22:11] achille-roussel commented on #231
@hoveychen this is a good idea that could help integrate with more advanced service discovery mechanisms.

Would you be able to submit a patch for this?

[2019-03-21 22:14] achille-roussel commented on #228
@misha-tectonic calling `Close` on the batch should return an error if something went wrong, which allows you to differentiate between empty batches and failures.

Do you have some code to share that highlights the problem?

[2019-03-21 23:11] luish000 commented on #225
any update of this ?

[2019-03-22 12:02] misha-tectonic commented on #228
@achille-roussel Yes, `Batch` gives me the way do to so, but `Reader` processes batches internally, so this distinction is lost.

I'll be back to you soon with a code that would benefit from it, don't have anything extractable into a standalone test case right now.

[2019-03-22 15:22] VictorDenisov commented on #193
What you said makes sense to me. I was thinking about making it somehow configurable by the user. In cases when he sends related messages it would totally make sense to pack them in one batch. And of course it doesn't make sense to pack messages from completely unrelated streams. I also posted this request before I realized that there are transactions. I would still like the conversation going bec

[2019-03-22 17:47] WillAbides commented on #200
Let me chime in as another person who has run across this and would like to avoid all the rebalances.  There are two more scenarios I have run across where you would want more consumers than partitions.

1. Services that consume multiple topics. As it stands currently, you need to scale them to have the same number of instances as the number of partitions on the smallest topic.

2. Redundant avail

[2019-03-22 21:16] abuchanan-nr opened #241 "NewReader and NewWriter shouldn't panic"
NewReader panics instead of returning an error: https://github.com/segmentio/kafka-go/blob/master/reader.go#L1051

As does NewWriter: https://github.com/segmentio/kafka-go/blob/master/writer.go#L178

Some people might want to log errors differently, others might not be creating readers/writers in main, and a panic might take their whole service down. A more idiomatic Go API would be to return an e

[2019-03-22 23:57] dgregoire commented on #110
@achille-roussel

I revisited this today - i still see the same issue, `WriteMessages` with a batch of messages, for instance:

[code]

this code will block forever on the `WriteMessages` function. The init code is like this:

[code]

I'm using go v1.12 and kafka-go v0.2.2 with kafka v1.0.1. I tried setting batch size to 1, 5, 100, it makes no difference. I know the kafka broker configuration work

[2019-03-23 03:18] VictorDenisov commented on #236
Do you print the messages? Usually it takes longer to print the messages than consume them. Remove printf statements and measure the time again.

[2019-03-23 03:48] VictorDenisov commented on #216
It's difficult to say. Of course I'm just like you are interested in delivering it as soon as possible.

[2019-03-23 10:55] Albinzr commented on #236
`r := k.NewReader(k.ReaderConfig{
		Brokers:   []string{"localhost:9092"},
		Topic:     topic,
		Partition: 0,
		MinBytes: 1,
		MaxBytes: 1000,
	})`

@VictorDenisov Dose MaxBytes means only if it reaches max it will start sending the message?

[2019-03-24 15:43] VictorDenisov commented on #236
MaxBytes means that if the unread messages  on the broker are worth more than MaxBytes then your reader will consume those messages in several batches.

[2019-03-25 05:38] Albinzr commented on #236
@VictorDenisov got it, is there a way to configure client just to receive new messages only(avoid already read message)?.

[2019-03-26 04:34] VictorDenisov commented on #236
I'm not sure what you mean, but you probably need consumer groups. Kafka will be remembering what messages you've already consumed and next time you connect to the brokers it will only be sending you the messages you haven't consumed yet. Look at the configuration options of reader: https://github.com/segmentio/kafka-go/blob/master/reader.go#L889

[2019-03-27 15:03] VictorDenisov commented on #216
@achille-roussel I have a question about this function: https://github.com/segmentio/kafka-go/blob/50823e6c2ed38b7ed6b896105636c1e0c65bb3d3/batch.go#L105
and this function
https://github.com/segmentio/kafka-go/blob/50823e6c2ed38b7ed6b896105636c1e0c65bb3d3/batch.go#L193

Was there any specific reason to implement `readMessage` with key and value readers as arguments? I would like to refactor it to

[2019-03-27 22:19] VictorDenisov opened #243 "Reconnect with Backoff Config"
**Describe the solution you'd like**
Java clients have infinite reconnect policy even if kafka brokers refuse connections completely. Java clients keep trying to reconnect with configurable backoff.ms timeout.  I suggest to implement similar behavior in this client as it's naturally expected when people transition from other kafka clients.

**Supporting documentation**
https://kafka.apache.org/doc

[2019-03-29 21:24] rjenkins commented on #181
hiya @abuchanan-nr just opened https://github.com/segmentio/kafka-go/pull/244 to address this issue. Could you have a look at the changes and the tests and see if it addresses your request?

[2019-03-29 22:26] VictorDenisov commented on #243
The story consists of two items:
- [ ] allow infinite attempts in Writer. -1 in MaxAttempts should be infinite number of attempts.
- [ ] add retry logic to Reader.

[2019-03-30 00:26] abuchanan-nr commented on #181
@rjenkins My request was a little different. I'd like to read the state of consumer groups, without  creating/joining a group. That would likely end up on the `Conn` type.

[2019-04-01 14:16] rjenkins commented on #181
@abuchanan-nr ok I'm going to keep this change because I think it'll be useful as well on the readers, I'll talk to @achille-roussel and see what he thinks about adding it to the `Conn` type as well.

[2019-04-03 01:12] dnutels opened #247 "godoc.org shows docs for v2 (presumably)"
**Describe the bug**
https://godoc.org/github.com/segmentio/kafka-go shows a version of documentation that can't actually be installed (at least not with Go 1.11 Modules)

This is what is shown in the doc:

[code]

And this is what gets isntalled (when importing `github.com/segmentio/kafka-go`):

[code]

**Kafka Version**
2.1.0

**To Reproduce**
Use `kafka.Message`

**Expected behavior**
Either a

[2019-04-03 01:24] rjenkins commented on #181
@abuchanan-nr, spoke with @achille-roussel and we're still sorting out where this should live. We have ideas for some other utility funcs as well and we might want to consolidate these. I'll have an update by the end of the week.

[2019-04-03 04:06] chainarong-Trainapakul opened #248 "write msg to kafka, it take very long time"
// my example code
[code]
total time = 10.037994611s
how to write msg quicker than this ?

[2019-04-03 04:19] chainarong-Trainapakul commented on #248
kafka version : 2.11-2.1.0

[2019-04-03 04:22] achille-roussel commented on #248
The writer will attempt to write messages in batches to be more efficient, this means that each WriteMessages call will block until the message has been sent to Kafka. By default the batch aggregation time is 1s, so that's how long the method will wait at most.

Your example publishes messages 1 at a time, if you published them all 10 in a single WriteMessages call it would take only 1s.

You can

[2019-04-03 04:48] chainarong-Trainapakul commented on #248
small batchTimeOut that's great.
thank you so much bro!

[2019-04-03 04:48] #248 closed

[2019-04-03 14:45] abuchanan-nr commented on #181
Fantastic, thanks @rjenkins!

[2019-04-03 17:11] kargakis commented on #74
We are seeing this issue intermittently in v0.2.2

[2019-04-04 02:13] stevevls opened #251 "Consumer Groups gracefully handle non-existent topics"
**Describe the solution you'd like**
Currently, the consumer group rebalance will error out if a topic does not exist.  Official Kafka clients (librdkafka, java) do not throw an error in this case.  Instead, they hand back empty assignments to all the consumers.  If the topic comes into existence later, then a rebalance is initiated.

It would be great if kafka-go had the same behavior.  See backg

[2019-04-04 02:16] stevevls commented on #200
Closing this out since we merge #242.  Also opened #251 to capture the discussion about gracefully handling non-existent topics.

[2019-04-04 02:16] #200 closed

[2019-04-04 12:37] ccamel commented on #74
Same behaviour here observed sporadically (v0.2.2)

[2019-04-04 16:09] #241 closed

[2019-04-04 16:10] achille-roussel commented on #238
@stevevls can we close this issue?

[2019-04-04 16:12] achille-roussel commented on #247
@dnutels thanks for raising the issue.

This is because we haven't tagged a release yet, the `Headers` field was introduced recently.

You can still force a dependency on a branch or specific commit with `go get github.com/segmentio/kafka-go@<commit>` I think.

Let me know if that helps, we should tag a new release soon as well.

[2019-04-04 22:58] reprah commented on #227
@achille-roussel I'm interested in helping with this issue. If we just want to log that we got a dial timeout, we could log the error inside `refreshCoordinator()` [here](https://github.com/segmentio/kafka-go/blob/3a0e564053e187bc9c18a4e69966d89a4fd4499a/reader.go#L161) and perhaps return the error instead of continuing to the next iteration of the loop. Thoughts?

[2019-04-05 00:10] dnutels commented on #247
@achille-roussel

Thank you, for your response.

Yes, running `go get github.com/segmentio/kafka-go@master` within the module installs the latest (well, master), and `go mod tidy` updates `go.mod` properly.

This, of course, is super fragile, depending on your push-to-master policies.

Do you have an ETA on the release? Or, alternatively, could you point me to the specific commit, so that I am mor

[2019-04-05 00:56] mennanov commented on #219
A similar thing happens when you try to consume messages from a newly created Kafka instance where no other consumers have been registered yet.
In this case `reader.ReadMessage()` just returns `io.EOF`. But if you retry it in a few seconds it succeeds and receives the messages.
It would be great if `reader.ReadMessage()` blocked until it receives something or times out.

[2019-04-05 07:09] arunvinam opened #252 "Reader Error Handling And delay in reading"
Hello,

This is my basic code for reading messages:-
[code]
I have two issues here:-

1 .If  kafka.NewReader config is wrong (for eg wrong server or port or server down) it doesn't throw any error as it return a single value(unlike kafka.DialLeader). Is there a way to handle error here?

2. It takes around 3-4 secs to read messages even if there are messages in the stream.  Is this the default beh

[2019-04-08 21:47] vangent opened #254 "Received messages don't have any Headers"
**Describe the bug**
Messages received through `Reader` don't have any `Headers`.

**Kafka Version**
`0.10.1.0` (via https://github.com/spotify/docker-kafka)

**To Reproduce**
1. `docker run -p 2181:2181 -p 9092:9092 --env ADVERTISED_HOST=localhost spotify/kafka`
2. Run some code something like this:

[code]

**Expected behavior**
Headers that were written via `WriteMessages` should be read via `F

[2019-04-08 21:52] vangent commented on #254
Hmm, is this because headers are only in 0.11.x?

[2019-04-08 21:52] stevevls commented on #254
Hi @vangent.  Message headers were added to Kafka in version `0.11.0` as part of this KIP: https://cwiki.apache.org/confluence/display/KAFKA/KIP-82+-+Add+Record+Headers.  When talking to Kafka `0.10.1.0`, kafka-go won't try to write the headers because the protocol doesn't allow for it.  We could potentially return an error instead of silently dropping the headers, but there's unfortunately nothin

[2019-04-08 21:58] vangent commented on #254
OK, thanks. Sorry for the churn, I will try again with a more recent version of Kafka.

[2019-04-08 21:58] #254 closed

[2019-04-09 15:47] stevevls commented on #156
We're going to close this issue for now since the documentation has been updated and we now list officially supported versions.

[2019-04-09 15:47] #156 closed

[2019-04-09 16:44] #198 closed

[2019-04-09 17:53] #92 closed

[2019-04-11 07:33] kidphys opened #257 "Reading from offset does not work?"
**Describe the bug**
I try to start reading from a offset which is not zero, here is the code:
[code]
The `SetOffset()` method doesn't seem to work, the reader always read from offset 0.

Also, is reading from the latest offset possible with `Reader`?

**Kafka Version**
2.1.1

[2019-04-11 07:49] #257 closed

[2019-04-11 16:36] rjenkins commented on #181
@abuchanan-nr we've decided we're going to expose a new api/interface for these types of operations, planning on getting something up for review this weekend.

[2019-04-15 18:05] ch3fk0ch opened #258 "Seeing a lot of EOF errors when reading from partitions"
Hi, I see in the error logs a lot of messages like

`reader.go:1837: the kafka reader got an unknown error reading partition 13 of presence at offset 20067939: EOF`

is this expected if there are no new messages to consume? Is the EOF coming from kafka? I don't see anything suspicious in the kafka logs.

Kafka version is 2.11-2.0.1

Thanks, Andreas

[2019-04-24 20:16] abuchanan-nr commented on #228
This is possibly related: https://github.com/segmentio/kafka-go/pull/260

[2019-04-26 21:41] achille-roussel commented on #258
The client code in kafka-go uses connection pooling, so it may happen that a Kafka broker closes a connection if its idle timeout is higher than what the client uses. The client should handle this cases automatically and reconnect to the broker.

Do you happen to know what the idle connection timeouts used on the server side is?

Are you experiencing issues because of this?

[2019-04-26 22:28] abuchanan-nr opened #263 "Per-partition readers for consumer groups"
(Apologies, I'm not sure exactly what to title this yet)

This relates to how best to scale message processors that are reading from a consumer group.

Ideally, each partition of a topic is processed completely in parallel, and on high-throughput topics this becomes critical. But how should we write and configure our services?

The simplest approach:
[code]

If you have 12 partitions, then you sta

[2019-04-26 23:23] ch3fk0ch commented on #258
achille, thanks for your response. I don't experience any issues because of this. I was just wondering why it says unknown error. Also this topic is not very busy yet, maybe thats why it always disconnects from the partition.

If you ask about connections.max.idle.ms , it is the default value of 600000. I can try to set a timeout for the client.

[2019-04-26 23:30] ch3fk0ch commented on #258
Do you have any suggestion what value I should set to increase the timeout on the client side?

[2019-04-26 23:40] stevevls commented on #263
I've been thinking about this as well, and it's something that I want to make happen.  I believe a more advanced user should be able to walk up to kafka-go and be able to choose between the "managed" consumer group as currently exported by `Reader` or to use a `ConsumerGroup` directly.  And if we get the API right, then we should also be able to easily refactor the `Reader` to use it. 😄

Ideally,

[2019-04-26 23:41] stevevls commented on #263
Oh, and I totally forgot to mention offset management. 🤦‍♂  We'd want to account for that in the `ConsumerGroup` as well!

[2019-04-26 23:45] #251 closed

[2019-04-27 00:16] abuchanan-nr commented on #263
Sounds good.

It seems like you still need a separate consumer-group-specific partition reader type, in order to handle offset commits. In order to avoid clogging up the API with an advanced type, maybe a subpackage is warranted here? (root package for the quick and easy, subpackage for the more advanced users).

roughly:
[code]

`groups.Reader` should have it's own connection, message queue, and

[2019-04-29 17:07] achille-roussel commented on #258
The `MaxWait` parameter in the [`ReaderConfig`](https://godoc.org/github.com/segmentio/kafka-go#ReaderConfig) type is what sets how long the client will wait during fetch requests.

It looks like your server is configured to wait long enough tho, I'm not sure if Kafka has other timeouts coming into play here tho.

If this error does not cause any issues we could probably log it with the debug logg

[2019-05-03 05:15] VictorDenisov commented on #243
I posted a PR for the second item: https://github.com/segmentio/kafka-go/pull/264
This issue can also be resolved by retrying manually:
[code]

[2019-05-03 22:02] stevevls commented on #202
Thanks!  We're not planning on implementing this feature right now.

[2019-05-03 22:02] #202 closed

[2019-05-03 22:04] achille-roussel commented on #247
We've tagged a new released (v0.2.3) so modules and doc should now be in sync.

Thanks for reporting the issue!

[2019-05-03 22:04] #247 closed

[2019-05-03 22:06] stevevls commented on #219
As @achille-roussel mentioned, use with newly created topics is kind of a special case.  We don't plan on fixing this ATM, but please re-open if you find these errors popping up in a different context!

[2019-05-03 22:06] #219 closed

[2019-05-03 22:12] achille-roussel commented on #227
@reprah thanks for offering to help.

Logging the error seems like a good first step, let me know if you're available to make the change 👍

[2019-05-03 22:13] stevevls commented on #236
This doesn't seem to be an issue with the library itself.  Closing for now, but feel free to re-open if needed.  Thanks!

[2019-05-03 22:13] #236 closed

[2019-05-05 22:55] vrischmann opened #265 "Batch.Read blocks in some cases"
**Describe the bug**

`Batch.Read` seems to block in some cases, specifically in this call to [io.ReadFull](https://github.com/segmentio/kafka-go/blob/master/batch.go#L129).

I made a [small reproduction program](https://gist.github.com/vrischmann/3c2e67e0cd18c8b8039982a3d9837a96) which triggers this. Here's a sample output on a partition with 10 messages of 400 bytes each:

    $ ./benchmark

[2019-05-06 13:15] salomatu commented on #220
Sorry for posting to a closed issue, but I just wanted to report some findings if someone else stumbles here.

At my job, we ended up having to ingest several gigabytes wort of data through a piece of software that uses, now likely outdated version, of the kafka-go library.

We were quite stumped by a problem where it would sometimes randomly decide to commit 4294967296 as the current offset of th

[2019-05-06 17:16] stevevls commented on #220
It's strange that the value is that 4294967295...that's the max value for a `uint32`.  For clarification, were you consuming messages in this scenario when receiving these "null" messages?  If so, was there any chance that you had idempotent producers upstream?  kafka-go currently doesn't support consuming from topics with idempotent producers, but there is active work to add that functionality. o

[2019-05-07 08:49] salomatu commented on #220
Exactly. That's why I tried to see if I could find any hints of weird casting along the line or a bug in the protocol parser.

The topic was pre-populated with data and was not added upon during the time it was being consumed. That means we would be receiving close to the maximum requested batch size from the server almost all the time. The topic was populated using kafkacat 1.3.1 (librdkafka 0.11

[2019-05-07 23:18] stevevls commented on #265
Thanks for the great write-up.  We have seen variants of this bug a couple of times.  You are right that the request should not be going out to the network.  What's happening is that we're not accounting for the remaining bytes when we call `io.ReadAll`, so it's trying to go to the network to receive the bytes beyond what we have available.  However, the message has been truncated by the broker (t

[2019-05-08 01:20] stevevls commented on #265
This should be fixed now on master.

[2019-05-08 01:20] #265 closed

[2019-05-08 08:54] ostenbom opened #269 "Configure retry.backoff.ms in Reader"
I have a need to configure the `backoffDelayMin` (and potentially `backoffDelayMax`) property that decides how tight the Readers read loop runs. This property is currently defaulted to [100 ms in the reader](https://github.com/segmentio/kafka-go/blob/master/reader.go#L1705-L1706), and backs off up to one second. Waiting even 30ms on my project would be too slow!

Issue #243 is similar but refers t

[2019-05-08 16:20] vrischmann opened #270 "batch.ReadMessage/Close fail with ErrUnexpectedEOF"
**Describe the bug**

When setting a read deadline on a connection [batch.ReadMessage](https://godoc.org/github.com/segmentio/kafka-go#Batch.ReadMessage) sometime fails with a ErrUnexpectedEOF.

I based my code on [reader.read](https://sourcegraph.com/github.com/segmentio/kafka-go@master/-/blob/reader.go#L1914-1975), my goal is to make the equivalent of `maxWait` work. You can see the code [here](

[2019-05-08 23:09] zhangchiqing opened #271 "Question: Is multiple writes atomic?"
I'd like to write multiple messages into the same topic, which contains only 1 partition. If I use the `Write` as [the example shows](https://github.com/segmentio/kafka-go#writer-), is the multiple writes atomic? Is it possible that some messages were saved and some weren't saved?

[2019-05-09 13:52] rjenkins commented on #181
Finally had some time to revisit this. https://github.com/segmentio/kafka-go/pull/272, we will most likely close https://github.com/segmentio/kafka-go/pull/244 once 272 lands.

[2019-05-10 21:47] achille-roussel commented on #271
The `kafka.Writer` API does not give atomicity garantees, and depending on the partitioning mechanism employed by the writer the messages may be delivered to different partitions.

You can look at using `kafk.Conn` instead, which gives you a lower-level API. When using a connection directly, each call to `WriteMessages` submits a single Produce request. In this case the operation is atomic.

[2019-05-10 21:48] achille-roussel commented on #270
@vrischmann thanks for reporting.

Could you confirm which version of kafka-go you are using?

[2019-05-10 23:55] vrischmann commented on #270
I tested with 7c6cb19885b3302c6320871f91f1949b8249bec0

[2019-05-12 12:22] qiangmzsx opened #273 "AsyncProducer: runtime: out of memory(OOM)"
**Describe the bug**
The OOM appears when AsyncProducer writes a lot of messages.

**Kafka Version**
1.1.0

**To Reproduce**
matser
**Expected behavior**

**Additional context**
[code]

[2019-05-12 18:23] achille-roussel commented on #273
Hello @qiangmzsx, thanks for reporting the issue.

Would you be able to provide more details about your setup? For example:
- memory available to the process
- rate of messages produced
- size of the messages (min, avg, max)
- how long was the producer running for before it ran out of memory
- were the kafka broker experiencing issues during that time?

If we are able to capture memory profiles th

[2019-05-14 18:01] zhangchiqing commented on #271
Thanks @achille-roussel .

[2019-05-14 18:01] #271 closed

[2019-05-14 22:08] rjenkins commented on #181
Resolved in https://github.com/segmentio/kafka-go/pull/272

[2019-05-14 22:08] #181 closed

[2019-05-15 07:36] danijeldjuric opened #274 "Partition Rebalancing"
**ConsumerRebalance Listener methods implementations in kafka-go**

Is there a way to track two main rebalancing methods onPartitionsRevoked and onPartitionsAssigned. Are those methods or equivalents available in kafka-go

[2019-05-15 13:21] danijeldjuric commented on #274
Also can i ask a question.

So when using kafka-go package and specifying GroupID, how can i track new partitions added.

Currently my go app, reads messages nicely, but if i add a partition to a topic that i'm allready listening, is there any way for me to detect it in my consumer app. At this moment those messages stay in kafka, but are not consumed by my consumers,
aldo i'm not changing consume

[2019-05-15 13:26] danijeldjuric commented on #274
Here is the code that i'm using to create the reader
`streamReader := kafka.NewReader(kafka.ReaderConfig{
		Brokers:               []string{connectionString},
		Topic:                   topic,
		GroupID:              group,
		GroupBalancers: []kafka.GroupBalancer{kafka.RangeGroupBalancer{}, kafka.RoundRobinGroupBalancer{}},
		MinBytes:             MinBytes,
		MaxBytes:            MaxBytes,
})`

[2019-05-15 16:19] stevevls commented on #274
Greetings!  I believe that we have what you're looking for.  There's a flag on the `ReaderConfig` called `WatchPartitionChanges` (https://github.com/segmentio/kafka-go/blob/d7d75c372d532b74b5447337396aa451d378f487/reader.go#L963-L965).  It's off by default, but it can be turned on to trigger consumer group rebalances when the number of partitions changes.  Does that solve your issue?

[2019-05-15 18:23] danijeldjuric commented on #274
Yes thank you

I managed to find it. Can you help me with one more thing if you don't mind
Can you tell me how can i commit offsets before rebalancing so i can track all messages when rebalancing happens

Thank you

[2019-05-15 18:40] stevevls commented on #274
You have a couple of options for committing offsets.  By default, commits are handled synchronously, but you can also have them committed at an interval with this option https://github.com/segmentio/kafka-go/blob/d7d75c372d532b74b5447337396aa451d378f487/reader.go#L946-L952

Also, look to see whether you're using `ReadMessage` or `FetchMessage` to get messages from the reader.  `ReadMessage` will u

[2019-05-15 18:52] danijeldjuric commented on #274
I'm using ReadMessage for getting the messages

Ok let me explain the situation and problem that i have so you can understand me better. Maybe i'm missing something obvious

I'm building a group consumer workers that read all the messages and track the offset our end in case of failure. All is fine, except in case of rebalancing. So as an example we have a topic called **sample-topic** with 3 part

[2019-05-17 18:58] stevevls commented on #274
I see.  I think you may want to keep an eye on #263 because it sounds like it would help you manage your worker pool if you could access each partition as a single stream.  Does that sound right?  I can't think of a good way to implement what you're describing with the current `Reader`, unfortunately, because  It hides too much of what's going on underneath the hood.

[2019-05-17 20:09] stevevls commented on #269
Hi @ostenbom.  I think it makes sense to have those two values be configurable, and if you have the code ready, a PR would be great.  Thanks!

[2019-05-17 20:16] stevevls commented on #220
Out of curiosity, did you try upgrading kafka-go?  We've put a lot of work into it since the release you linked, which doesn't have proper support for Kafka 2.  For example, that release won't properly decode a RecordBatch.  I remember from when I was working on compression support (also not yet present in the code you linked) that under certain circumstances, Kafka 0.11+ would switch between Mess

[2019-05-17 21:12] stevevls commented on #252
Hi @arunvinam.

1. This behavior is actually by design.  When you're consuming from a Kafka topic, you're probably going to be opening connections to multiple brokers.  Even if you are only consuming from a single partition, it's possible that the leader for that partition moves about.  As such, the `Reader` is designed so that it creates and tears down connections in response to what's going on w

[2019-05-17 21:12] #252 closed

[2019-05-21 19:30] #269 closed

[2019-05-21 22:42] stevevls commented on #263
With all the rain this weekend, I ended up with a bunch of time to sit and write code.  I just put up a PR that adds the `ConsumerGroup` type, limited to just the membership and commit logic.  I put in sample code for how to use it to open a reader per-partition...I think that bit can live outside in order to keep the API surface small.  The PR is a WIP, but I think it captures the extent of what

[2019-05-22 01:11] stevevls commented on #150
It would be great for `kafka.NewReader` and `kafka.NewWriter` to return an error instead of panic-ing!

[2019-05-22 08:35] marselester opened #278 "Can the order of messages in a partition be lost due to batch retries?"
Hello, I want to clarify the ordering guarantees of `WriteMessages()`.

Let's say I need to write 100 messages with batch size of 5 messages.
The messages are balanced among 2 partitions.
Can the order of messages in a partition be lost due to batch retries?
For example, the first batch is failed, the second succeeded, then first batch is retried successfully.

[code]

[2019-05-22 13:19] psilvaro commented on #237
Is there any news about having the support for GSSAPI?
Thanks

[2019-05-23 22:42] aerostitch commented on #74
Hi,
Can you give more details about your configuration please?
Could you paste the code you are using please?
Are you trying to write to new auto-created topics? Or is it happening when writing to existing topics?
Are you seeing those logs in batches of, let's say 1 full `config.RebalanceInterval` of time?
Thanks,
Joseph

[2019-05-24 22:05] stevevls commented on #237
No movement as of yet.  If you're interested in taking a stab at it, I think it's a matter of:
1. Adding a kerberos server to the docker compose setup
1. Configuring the kafka container to add another listener that connects to the kerberos server
1. Implementing the `sasl.Mechanism`.  There are examples in `sasl/plain` and `sasl/scram` that could serve as a jumping off point.

This isn't currently

[2019-05-27 01:56] VictorDenisov commented on #278
Each partition has a separate writer. Each partition writer forms it's own batch and will be trying to send the same batch again and again until it succeeds.

[2019-05-28 07:46] marselester commented on #278
Thank you for the explanation! Just to reiterate, If `msgs` contains 100 messages which are batched by 5
[code]
The first batch of 5 messages (0, 1, 3, 5, 6) will be processed by a single goroutine (dedicated to partition 0) that will sequentially try to write the first batch until `MaxAttempts`. The second batch to the same partition (7, ...) is not going to be written until the first one succeed

[2019-05-28 21:28] samueltorres opened #279 "Commit Offsets by TopicPartition"
Hi :)

I'm doing a consumer that consumes all that the messages in a parallel fashion with the need for ALO semantics.

I'm following an approach that is similar to [this](https://engineering.sift.com/concurrency-and-at-least-once-semantics-with-the-new-kafka-consumer/#offsetmanager), and I need to completely control the TopicPartition Commit Offsets manually.
Although it is possible to it via the

[2019-05-28 21:29] VictorDenisov commented on #278
Correct.

[2019-05-29 04:13] #278 closed

[2019-05-29 05:54] wypsmall opened #281 "consume message wrong"
**Describe the bug**
A clear and concise description of what the bug is.
when run demo, result is like this
i write message twice
------
conn.WriteMessages(
        kafka.Message{Value: []byte("one!")},
        kafka.Message{Value: []byte("two!")},
        kafka.Message{Value: []byte("three!")},
    )

------
but read

one!
two!
three!

one!e!
two!e!
three!

use this code
-------------------
topic

[2019-05-29 11:22] bemyth opened #282 "question about go language"
hello , I have some doubts about the following description in your readme.md.

i want to know why pointer can cause those issue? thank you.

[2019-05-29 15:29] stevevls commented on #282
Greetings!  I'd recommend this article from the Segment blog: https://segment.com/blog/allocation-efficiency-in-high-performance-go-services/.

[2019-05-29 15:29] #282 closed

[2019-05-29 15:33] stevevls commented on #281
Hello!  The issue you're running into is that you're re-using the byte slice, but you're not capturing the return value for the number of bytes read.  With two minor modifications to the code, your problem will be fixed:

[code]

[2019-05-29 15:33] #281 closed

[2019-05-29 21:10] stevevls commented on #279
Howdy!  You may be interested in keeping an eye on PR #277.  We're finding more and more that some folks (including ourselves) require a lower-level interface to the consumer group in order to unlock more advanced use cases.  We're wary about loading up more functionality onto the `Reader` type since it's supposed to a) be relatively straightforward and b) work both with and without consumer group

[2019-05-30 06:30] procyclinsur opened #283 "Question: wildcard subscriptions"
Are wildcard subscriptions possible? I tried setting the `topic` to `my-topic*`, and the client didn't fail.. but it made kafka repeatedly boot and re-register the client every 3 seconds.

[2019-05-30 06:31] procyclinsur commented on #283
also do you have a slack or help channel for issues that are not feature requests or bugs, or is it expected to be asked as I have?

[2019-05-30 18:18] samueltorres commented on #279
Nice ! Thanks for the insight 👍

[2019-05-30 18:18] #279 closed

[2019-05-30 18:22] stevevls commented on #283
Greetings.  We don't currently support wildcards, but we are tracking this feature request #131.  PRs are welcome, though! 😄

We are in the #kafka-go channel in the [Gophers slack](https://invite.slack.golangbridge.org/) if you want to get in touch with us there.  Issues on GH are also good.

[2019-05-30 18:22] #283 closed

[2019-05-30 22:09] abuchanan-nr opened #284 "Reader.run() should throttle handshake attempts"
**Describe the bug**
I've seen a message like the following printed dozens of times a second:
[code]

**Kafka Version**
0.10

**Additional context**
I suspect this is because of this for-loop: https://github.com/segmentio/kafka-go/blob/master/reader.go#L881

Maybe there should be some throttling on that?

[2019-05-31 21:03] stevevls commented on #284
I was just looking at this code the other day and thinking it might be susceptible to this type of error.  I believe it retries immediately under the assumption that it got a rebalance error and that the join group call will then block up to the rebalance timeout.

Will make sure to fix this in #277

[2019-05-31 21:18] Pryz commented on #154
Implemented in https://github.com/segmentio/kafka-go/pull/253.

[2019-05-31 21:18] #154 closed

[2019-05-31 23:05] stevevls commented on #284
Heh heh...just went to drop a todo in the new consumer group code and found that I had left this comment:

[2019-06-01 16:22] malonaz opened #285 "Could not dial broker: dial tcp: lookup kafka-1.kafka.kafka-ca1.svc.cluster.local: device or resource busy"
Hey all,
I'm not sure if this qualifies for an issue, but I've been trying to setup a kafka on my micro-service project and I keep hitting the 'resource busy', when deploying on minikube.
I believe that my zookeeper/kafka setup is correct because I can run a node.js application that publishes and consumes from a topic successfully.
Is there some driver, library I must install on my docker image be

[2019-06-01 16:42] #285 closed

[2019-06-01 16:42] malonaz commented on #285
FIX: I was creating a statically linked go binary, which caused some issue for DNS look ups

[2019-06-03 10:04] losingle opened #286 "How do I reuse a Write connection ?"
[code]

I got 'fail send message: io: read/write on closed pipe'
use the example with a very high latency and repeat connections

[2019-06-03 19:33] jnjackins commented on #286
You are closing `kafkaWriter` when `Setup` returns.
https://golang.org/ref/spec#Defer_statements

[2019-06-03 19:33] #286 closed

[2019-06-03 20:44] losingle commented on #286
If I close after SendMessage,
the number of calls prompts the connection to close

[2019-06-05 03:22] VictorDenisov opened #287 "Gitter room"
Can we start a gitter room(or mailing list) where we can discuss the project if necessary in a more interactive way? I'm asking because only the owner of the project can create the gitter room.

[2019-06-05 03:27] Pryz commented on #287
Hey @VictorDenisov, we are already present on the #kafka-go slack room of https://gophers.slack.com. If you want to join I think the invite url is https://invite.slack.golangbridge.org :)

[2019-06-05 14:00] danncoba opened #288 "Question: How to close kafka stream reader properly on gracefull shutdown?"
Hi

I know that Close function exists in kafka-go
However  it takes about 2 min for it to close multiple consumer group readers. That's too long
Other option i've tried is canceling context. This does work quickly but last message doesn't get read, and i can't miss any messages when shutting down gracefully.
Do you have any recommendations

[2019-06-07 03:46] #287 closed

[2019-06-11 15:07] ldrrp commented on #150
If you pass Message{} as a pointer we could then read off the partition and offset directly for each message after the message has been committed.

[2019-06-11 15:47] tomklino opened #291 "Is there a way to read all messages from a topic without specifying a partition?"
I'm trying to read all messages from a topic (specifically __consumer_offsets, so, binary), but unless I check first with `kafkacat` on which partition the messages are, and then create a reader specifically for that partition, I can't read the messages (I'm guessing that if I don't specify a partition it just reads from partition 0?)

Anyway, I was sure partitions should be transparent at the use

[2019-06-13 10:03] grglcs commented on #192
@achille-roussel yep, you're right — it's the problem with closed idle connection from server side. So I had to build a custom bicycle to allow async write with rewrite-on-failure.

[2019-06-13 10:03] #192 closed

[2019-06-14 22:08] stevevls commented on #291
Hi @tomklino.  You are correct...if you don't specify a partition, then the default value of zero is used.  The `Reader` can either be used to consume a specific partition or you could use consumer groups to consume in a partition-agnostic manner.  We don't currently have a mode where it consumes all partitions.

Your case is particular, though.  While normally I would steer folks towards consumer

[2019-06-14 22:08] #291 closed

[2019-06-20 15:52] luzhuqun commented on #257
@kidphys  I have the same problem, how to solve this ?

[2019-06-23 08:38] kwame998 opened #297 "auto_offset_reset"
auto_offset_reset FirstOffset is the default value of, how to modify LastOffset

[2019-06-23 22:13] VictorDenisov commented on #257
There is a possibility that your offsets were compacted and offset 4 is before any available offset. Checkout the offset of the earliest message that you have in the topic.

[2019-06-24 11:54] sneko commented on #216
@VictorDenisov great initiative! 👍

I saw you closed some of your PRs, is it still something you're working on?

Thank you,

[2019-06-24 15:07] VictorDenisov commented on #216
@sneko Yes. The work is still in progress. There is a PR for reading transactional topics: #261 . Currently I'm working on writing transactional message. I would give you a link to my branch, but it's mostly dysfunctional yet. I'll post it here once I have a hint of working code.

[2019-06-25 15:56] vishalpandey2192 opened #298 "Writer Drops halfs of the messages"
My application is a producer, and I am producing a health metric after every 5 min, I am producing in sync mode. But only half of my messages are successfully published and I dont receive any error for the failed message.
I have also tried using the writer logger supported by kafka-go writer but no error messages are logged here. But I can see the number of failures in the writer stats error count

[2019-06-25 16:29] achille-roussel commented on #298
Hello, thanks for reporting the issue.

Do you have more details about the kafka topic you are producing to? For example what is the retention of the topic? What’s the replication factor?

If possible, could you describe how you figured out that messages were being dropped? What is the consumer? Does the problem go away if the producer runs more frequently?

Let us know.

[2019-06-25 17:17] vishalpandey2192 commented on #298
topic property - Retention : 1 day, replication factor: 3
So, I did confirmed that half of the messages by following ways :
1. I know the frequency of publishing but the mesages on consumer side is not same
2. I started a console consumer - didnt see half of the messages there
3. Checked the writers stats errors : shows number of msgs failed.

Let me know if you need anything else

[2019-06-25 18:37] stevevls commented on #297
Greetings...  are you referring to in the case of consumer groups?  We have a fix coming soon as part of #277 if that's the case.

[2019-06-25 19:17] vrischmann commented on #270
Hi. Just to note, I tested again with v0.2.5 just now and I still get these errors.

This time around I only tested using the Reader, not my code above to reduce the possibility of errors. Here's the code to reproduce:

    package main

    import (
            "context"
            "log"
            "os"
            "time"

            "github.com/segmentio/kafka-go"
    )

    const (

[2019-06-26 19:37] vishalpandey2192 commented on #298
I did see a couple of error saying broken pipe, not sure what it implies

[2019-06-30 17:59] VictorDenisov commented on #150
We may want to remove TransactionalID from connection. I start regretting that I added transactional ID to connection. It seemed like a natural idea in the beginning. Functions for sending messages needed transaction id and seemed to make sense to keep it away from users. But since transaction is a cross connection concept and it doesn't really fit one connection. So we will need to allow users to

[2019-07-02 03:08] dwin opened #303 "Use Zstd compression not requiring CGO"
**Describe the solution you'd like**
There are Go packages available that provide `zstd` compression without requiring CGO which is not preferred.

Working on this, will submit PR.

**Supporting documentation**

https://github.com/klauspost/compress/tree/master/zstd
https://godoc.org/github.com/klauspost/compress/zstd

[2019-07-05 20:54] VictorDenisov opened #304 "Control the number of connections"
**Describe the solution you'd like**
Reader and Writer in this library open the number of connections proportional to the number of partitions of the topic. Also writer allows us to write to only one topic. So if we want to write to another topic we need to create another writer which is going to start another batch of connections of the number of partitions. It puts extra load on conntrack tables

[2019-07-06 02:00] VictorDenisov commented on #216
@sneko I merged reading transactional messages(#261) to the master branch of my personal repository: https://github.com/VictorDenisov/kafka-go so that it can be imported in go programs. If you decide to give it a try let me know how it goes.

[2019-07-08 14:49] AntonKuzValid commented on #123
I have faced an issue with using batch reading using reader and FetchMessage/CommitMessages methods, i have made simple tests (example here - https://play.golang.org/p/aeYfRBfWIlQ), and i have cases when i started new consumer, rebalancing happened and the new consumer can start consuming the uncommitted but already fetched messages and i got doubling of the data

[2019-07-09 19:51] Pryz commented on #303
hi @dwin, thanks for working on this. Do we have a timeline for the PR ?

[2019-07-10 15:48] robfig opened #307 "godoc/WriterStats: clarification on SummaryStats/DurationStats"
The current stats do not specify that the SummaryStats & DurationStats are reset each time Writer.Stats() is called.
https://godoc.org/github.com/segmentio/kafka-go#Writer.Stats

This has two impacts:
- Developers may errantly believe that they represent the stats since the the writer was constructed, which may cause them to discard the stats as not helpful
- Developers may not realize that callin

[2019-07-10 16:59] rjenkins commented on #288
Hi @danncoba

Could you provide us with a bit more data, in particular.

Kafka Version What version(s) of Kafka are you testing against?
Steps to reproduce the behavior or code sample.

[2019-07-10 17:29] dwin commented on #303
Should have one over today.

[2019-07-11 11:21] hookover opened #309 "How to disable autocommit with GroupID used"
I want to commit manually, or there is a way to roll back to the target offset
I need to keep the current message uncommitted when an error occurs in the program.
However, when the program receives the exit signal, the offset is still submitted

[2019-07-12 09:51] m4ng0 commented on #309
Have you tried this:
https://github.com/segmentio/kafka-go#explicit-commits
?

[2019-07-12 10:10] hookover commented on #309
Yes, that's what I did.
Pseudo code：
[code]

Log
[code]

[2019-07-12 10:34] hookover commented on #309
I'm sorry. This is probably my program error.

[2019-07-12 10:34] #309 closed

[2019-07-12 17:12] stevevls commented on #309
Great.  If you're looking to do more advanced offset management, you can also keep an eye on #277.  We're getting pretty close to merging that in.

[2019-07-15 09:02] navneetyps opened #310 "No function for modifying topic config"
trying to find function for modifying topic properties like its number of partitions/retention.ms and other config properties of a topic but cannot find any. Only solution right now is create new topic with required properties , copy data to it from previous topic and then delete previous topic.

[2019-07-15 15:41] danncoba commented on #288
Hi @rjenkins i've managed to do this properly with context execution. Close function is too slow for me so i managed to make it work with context cancelation

[2019-07-15 15:41] #288 closed

[2019-07-15 15:48] danncoba opened #311 "Clients metadata is most likely out of date"
**Describe the bug**
I'm not sure this is a bug, so please excuse me if i'm not right. However i haven't been able to find a solution in kafka-go. This problem is when i'm using reader to read messages from kafka cluster. The problem is that when a broker is restarted or shutdown for update/upgrade we have a massive consumer that is reading the messages and it gets this messages multiple ones

Aft

[2019-07-15 16:29] Pryz commented on #310
Hi @navneetyps, you're right we don't have any function to do that right now. Feel free to send a PR if you want to implement it :)

[2019-07-15 16:33] stevevls commented on #310
Here's the KIP for adding API calls for describing and modifying topics:
https://cwiki.apache.org/confluence/display/KAFKA/KIP-133%3A+Describe+and+Alter+Configs+Admin+APIs

The API calls are documented here:
https://kafka.apache.org/protocol#The_Messages_DescribeConfigs
https://kafka.apache.org/protocol#The_Messages_AlterConfigs

[2019-07-15 16:35] Pryz commented on #311
@danncoba I think the way we have been dealing with this behavior is by catching the error and refresh the metadata using `ReadPartitions`.

[2019-07-15 16:36] danncoba commented on #311
@Pryz thanks for quick reply. I'll try it out now

[2019-07-15 16:53] danncoba commented on #311
@Pryz i want to just say i use consumer groups not partitions directly to read from

Regards i let you know when i test it properly

[2019-07-16 10:06] vgvineet4 opened #312 "Change offset for consumer Group"
**Describe the bug**
Not able to change offset for a consumer group.I checked the reader API setOffset() and it doesn't allowed to change the offset if groupID is specified.
No details are present why this is not allowed.

**Kafka Version**
What version(s) of Kafka are you testing against?

**To Reproduce**
Steps to reproduce the behavior.  Bonus points for a code sample.

**Expected behavior**
A

[2019-07-16 15:58] complex64 opened #313 "Significant load on Kafka Cluster when consuming from (almost) empty topics"
We are running into some weird behavior with kafka-go and would appreciate your help with the following issue.

Thanks in advance!

---

**Describe the bug**
- Running 4 consumers, each on one consumer group, one consumer group for one topic
- The topics are mostly empty and we have 512 partitions
- Consumers run a `FetchMessage`-`CommitMessages`-loop
- The first node of the 5 node cluster consume

[2019-07-16 16:33] danncoba commented on #311
Hi all.

I haven't been able to create this as i use Reader with consumer groups. The problem happens when zookeeper in cluster fails. I have a zookeeper ensemble and kafka cluster, and when zookeeper fails, which we're testing for the consumer just looses that those partitions and doesn't refresh the metadata for at least 30 mins in my case.

Any suggestions

[2019-07-16 16:51] complex64 commented on #313
I suspect the following chain of events (somewhat supported by running [pprof](https://golang.org/pkg/net/http/pprof/)):

1. `run` is called and attempts is 0: https://github.com/segmentio/kafka-go/blob/1aea3407772b14fc9e7f04655be7d5c3a54e0a3f/reader.go#L1764
2. `initialize` is called, no error is returned, we enter the nil case with implicit break: https://github.com/segmentio/kafka-go/blob/1aea3

[2019-07-16 19:31] achille-roussel commented on #313
@complex64 Thanks a lot of the detailed bug report, we're gonna look into this as soon as possible 👍

[2019-07-17 09:50] complex64 commented on #313
Setting the back-off to a higher value (2s) in fact reduces the load!

Do you see a path forward, where the back-off is applied to a topic, different from per-partition?
Or should EOF be handled differently?

[2019-07-17 16:22] stevevls commented on #313
Hi @complex64.  By any chance do you have logs from the brokers?  When a broker gets a request that it doesn't understand, its behavior is to close the connection.  That manifests on the client side as an EOF.  Since it looks like you're getting the EOFs immediately, it makes me suspect that something on the wire isn't quite right and the broker is closing the connection.

[2019-07-17 16:44] complex64 commented on #313
Silence so far. I'll look into log levels tomorrow morning to see if we can get more introspection as to what is happening.

[2019-07-17 18:15] Pryz commented on #311
Looks more like a Kafka problem than a client one right ? If your ZK fails and you don't have any controller in your cluster then you can't do much.

But maybe I don't understand what you are trying to achieve :)

[2019-07-18 01:11] stevevls commented on #313
Hello again.  I was able to reproduce some of this behavior today, and I believe I tracked down at least part of the issue.  I think in the case of empty batches, we're erroneously returning an `io.EOF` when the max wait time is low (e.g. < 1 second).  If you get a moment, could you take #315 for a spin and see if it helps with your problem?  I think that it should help by keeping the connections

[2019-07-18 02:47] keith6014 opened #316 "proper way to get last message with SIGINT"
What is the proper way to listen to a kafka message and when a Signal interrupt is issued, how can I wait for the last message or i would like to get the last transaction or nothing at all.

[2019-07-19 19:01] jfancher opened #317 "Reading message fails with SASL_SSL when using consumer groups"
**Describe the bug**
We have a Kafka cluster configured to use `SASL_SSL` and `SCRAM-SHA-256`.  Using a `Dialer` configured with `github.com/segmentio/kafka-go/sasl/scram`, I am able to:
* Create a topic
* Write a message
* Read the message when not using a consumer group

But when I try to change the reader to use a consumer group, the fetch starts failing with an error originating from scram: `s

[2019-07-19 20:51] jfancher commented on #317
I did a bit more debugging, and have hit upon an important detail -- I am _not_ able to reproduce this against a topic that has only one partition. By adding a `Logger` I can also see that including a consumer group does some work in parallel per-partition, further indicating some kind of synchronization issue.

[2019-07-19 23:34] stevevls commented on #317
Hi @jfancher.  Thanks for the bug report, and the additional info regarding the single topic case.  With that extra info, I think you've hit upon a flaw in our SASL implementation--the `sasl.Mechanism` is stateful, so when you have multiple go routines using the `Dialer`, they're clobbering each others' stage.  I'll have to think on a way to fix it while still preserving API compatibility.

[2019-07-22 14:23] complex64 commented on #313
@stevevls, thanks for the suggestion, unfortunately I haven't had time yet to try it out. Might be able to get it in this week though.

Thanks for your help so far!

[2019-07-23 19:27] ldrrp opened #321 "undefined string writer on master"
**Describe the bug**
..\github.com\segmentio\kafka-go\crc32.go:60:4: undefined: io.StringWriter

**Additional context**
Not exactly sure what happened, just cant build anymore. Using go version 1.11
I see the docs for io.StringWriter but im not sure what version it was released for. Many of the docs say 1.10

[2019-07-23 19:55] achille-roussel commented on #321
@ldrrp what do you think the fix should be here? We could update the docs saying we support Go 1.12+, or do you need support for 1.11?

[2019-07-24 13:09] ldrrp commented on #321
Im not sure, im dealing with slow bureaucracy here getting IT to update my go version to 1.12 to see if thats it. I should have it by the end of today. If thats it maybe i can update the docs to reflect 1.12+

[2019-07-24 15:25] #317 closed

[2019-07-25 09:17] shukyoo opened #326 "Why write message so slow!"
**Describe the bug**
I compare sarama and kafka-go to write msg.
kafka-go wait about 2 seconds to finish
but sarama finish immediately!
why this so slow!

**this is stat:**
[code]

**this is code:**
[code]

[2019-07-25 09:36] achille-roussel commented on #326
I believe there may be multiple factors that come into play in the example you submitted:

- The default settings are optimized for production workloads where multiple messages are batched together because this is how kafka is commonly used to achieve high throughput and efficient resource usage.

- On the first write, the writer will also have to open connections to the kafka cluster, which will

[2019-07-25 13:24] GrimTheReaper commented on #321
We're running into similar issues, with our build at 1.10. We're rebuilding with 1.12 as well to see what happens.

[2019-07-25 13:31] shukyoo commented on #326
I made a batch write test, write msg 100 times
this is code
[code]

it takes: **1m40.3175299s**

Is my test right?

(3brokers, 2partitions, 2replicas)

[2019-07-25 13:33] GrimTheReaper commented on #321
Upgrading straight to 1.12 seemed to resolve the issues, Btw the 1.10 we we're using was the one [here](https://storage.googleapis.com/golang/go1.10.windows-amd64.zip). I'm not entirely sure what the minor version is, but when looking through the source I don't see StringWriter.

[2019-07-25 14:41] shukyoo commented on #326
this is write on sarama, send msg 100 times
[code]
it takes: **204.6775ms**

[2019-07-25 17:35] achille-roussel commented on #326
The test you showed isn’t a batch test, each message is still published individually by calling WriteMessages in a loop.

WriteMessages can be passed an arbitrary number of messages which will form a single batch. Try the same test but passing all messages at once to a single call to WriteMessages, or try pushing each message concurrently from different goroutines.

Like I said, kafka-go’s default

[2019-07-25 17:52] shukyoo commented on #326
Thanks！If there is a example for batch msg produce in the readme.md it will be helpful for others.

[2019-07-25 17:52] #326 closed

[2019-07-25 17:54] achille-roussel commented on #326
I don't think we have, but we welcome contributions if you want to add this 👍

[2019-07-25 18:36] achille-roussel commented on #321
Yeah, `io.StringWriter` was introduced with Go 1.12, we made a few _breaking_ changes recently which is why we moved from 0.2.x to 0.3.x.

Happy to reconsider some of these decisions if it's getting in your way.

[2019-07-25 19:22] abuchanan-nr commented on #150
A minor thing: it would be nice for names of errors to match kafka exactly. Currently at least InvalidMessage doesn't match CORRUPT_MESSAGE:
https://github.com/segmentio/kafka-go/blob/master/error.go#L14
https://kafka.apache.org/protocol#protocol_error_codes

[2019-07-26 15:36] ldrrp commented on #321
@GrimTheReaper im glad to hear that fixed it, Im stick waiting for red tape office politics for 1.12. I asked for admin rights a long while ago and got a slap on the wrist lol

[2019-07-30 12:28] paulqin commented on #258
@achille-roussel

[2019-07-30 12:30] paulqin commented on #258
I also dicover this problem this week when we use kafka-go in our product.

[2019-07-30 13:09] paulqin commented on #313
I also dicover this problem this week when we use kafka-go in our product.
I have change the MaxWait parameter, and it did not work.
then I tcpdump the packet between kafka-go and the kafak server, and debug the code(kafka-go) a lot of times. I found that when the topic is idle, this problem will happen.

this is an interation when the kafka-go fetch request with fetchVersion=v10
kafka-request:
00

[2019-07-30 16:26] GrimTheReaper commented on #321
@ldrrp glhf. I don't envy your red tape.

[2019-07-30 19:19] ldrrp commented on #321
Tested it works then got fired :P Guess ill be asking my next interview about system admin rights.

[2019-07-31 14:55] #321 closed

[2019-08-01 03:07] sagarkrkv opened #328 "Performance degradation with MaxMessageBytes"
**Describe the bug**
Our application produces a lot of messages in Async mode. Since we are in control of the creation of these messages, we don't need the ability to set MaxMessageBytes. But we are paying the performance penalty for this feature.

**v0.2.4**
<img width="1537" alt="Screen Shot 2019-07-31 at 9 44 38 PM" src="https://user-images.githubusercontent.com/7545781/62262010-d6d57080-b3dc-1

[2019-08-01 03:12] achille-roussel commented on #328
@sagarkrkv thanks for reporting! I'll look into this shortly.

Other changes have landed between 0.2.4 and 0.2.5, and since we've also released 0.3. Having some simple example to highlight the problem would be very helpful to track down which commit introduced the regression.

[2019-08-01 03:59] sagarkrkv commented on #328
@achille-roussel I believe this was caused by https://github.com/segmentio/kafka-go/pull/208. I created a PR to fix this issue, PTAL.

[2019-08-01 04:09] sagarkrkv commented on #328
I think https://github.com/segmentio/kafka-go/pull/318 has reduced this problem to a large extent. I created #329 based on what I've observed in 0.2.5, there's still some slight performance benefit with my new PR.

I'm totally willing to abandon the PR if you think a small performance benefit is not enough to justify the new function.

Cheers.

[2019-08-01 05:23] achille-roussel commented on #328
Improvements are always welcome!

[2019-08-01 16:18] ShaneSaww commented on #328
imo you should always be setting some sort of `MaxMessageBytes` aka `max.request.size`
As without it you could end up sending messages to Kafka that don't fit and will be dropped.
FWIW I don't think you can disable the`max.request.size`  in the java client and I think we should follow that pattern.

I think this is the best route and looking at #329  it should help.

[2019-08-05 14:13] Knight-Wu commented on #258
hi, i still see a lot of error log : the kafka reader got an unknown error reading partition 0 of... EOF, any suggestions ?

[2019-08-05 15:47] Knight-Wu commented on #270
i have the same error : kafka 2019/06/25 21:12:50 the kafka reader got an unknown error reading partition 0 of foobar at offset 48: EOF, any help ?

[2019-08-05 16:18] cretz commented on #297
I believe this is in that case. In most (all?) other Kafka clients there is a setting ([`auto.offset.reset`](https://docs.confluent.io/current/installation/configuration/consumer-configs.html#cp-config-consumer) in the JVM consumer) that is basically "what is the offset if we've never seen this group ID before?". When using a simple `ReaderConfig`, this cannot be set that I can see (not to be conf

[2019-08-06 14:18] complex64 commented on #313
It helped somewhat, throughput and load dropped.

Additionally we now have load on the system and still see hundreds (600+) of connection attempts per second from a total of 24 clients and about 1k messages per second across those 24 pods.

[2019-08-07 04:21] Knight-Wu commented on #270
may be is it this function issue ?
batch.go
![image](https://user-images.githubusercontent.com/20329409/62594651-eb9a9280-b90d-11e9-88b2-fcb72a8649cc.png)

[2019-08-07 04:22] Knight-Wu commented on #270
![image](https://user-images.githubusercontent.com/20329409/62594670-f5bc9100-b90d-11e9-8c01-d0790e341feb.png)

[2019-08-07 04:46] stone531 opened #332 "build err"
**Describe the bug**
# github.com/segmentio/kafka-go
../../../github.com/segmentio/kafka-go/crc32.go:60:4: undefined: io.StringWriter

[2019-08-07 05:14] achille-roussel commented on #332
Thanks for reporting the issue.

io.StringWriter was introduced in Go 1.12, we used this interface in v0.3.0 of this package, the v0.2.x should work fine on Go 1.11.

Is upgrading to Go 1.12 am option for you? Or do you need this issue to be patched in the library?

[2019-08-07 14:33] harshvladha opened #333 "Reader is initialized with FirstOffset when using Group ID but reader.Offset() returns LastOffset"
**Describe the bug**
- When `Reader` is initialized with `ReaderConfig`  (from `NewReader(readerConfig)` ) then Offset is Set to `FirstOffset` https://github.com/segmentio/kafka-go/blob/46aa607838f84ad3512d7d2729bd59617b322688/reader.go#L1258
- When `ReadMessage` or `FetchMessage` is called it uses `reader.offset` to start consuming message, so it is using `FirstOffset` instead of `LastOffset` htt

[2019-08-07 14:36] harshvladha commented on #333
Version of `kafka-go`
github.com/segmentio/kafka-go v0.3.0

[2019-08-07 15:51] stevevls commented on #333
Greetings, and thank you for the report.  Fortunately, everything looks to be working as expected.  On the docs for the `Offset` func, you'll find that it returns `-1` when consumer groups are in use:

[code]

This `-1` is a sentinel value and is not intended to have meaning.  The fact that it is equal to `FirstOffset` is just coincidence.

Which leaves the question of why we don't return an offse

[2019-08-07 15:51] #333 closed

[2019-08-08 03:34] harshvladha commented on #333
Thanks.
It was quite confusing, I knew that reporting Offset is not possible because of Partition that's why I thought `-1` (`LastOffset`) is returned.

[2019-08-08 05:51] koroky commented on #326
Same issue here, but i think i have figured out the real reason why it so slow.

[Here](https://github.com/segmentio/kafka-go/blob/v0.3.0/writer.go#L361) the code snippet In this method:
`func (w *Writer) WriteMessages(ctx context.Context, msgs ...Message) error {`
[code]
The `backoff` returns `time.Second`.
### So every `WriteMessages` has to wait at least one second!!!

@shukyoo That's why **Wri

[2019-08-09 20:08] stevevls commented on #312
We just merged #277, which adds a `StartOffset` field to the configuration that will tell the consumer group where to start in case there's no committed offset.  This can be set to either `FirstOffset` (default) or `LastOffset`.

[2019-08-09 20:08] #312 closed

[2019-08-09 20:09] stevevls commented on #297
We just merged #277, which adds a `StartOffset` field to the configuration that will tell the consumer group where to start in case there's no committed offset.  This can be set to either `FirstOffset` (default) or `LastOffset`.

[2019-08-09 20:09] #297 closed

[2019-08-09 20:10] stevevls commented on #284
Just merged #277, which adds a `JoinGroupBackoff` parameter that will introduce a sleep time when an unexpected error occurs while joining and syncing the group.  Default value is `5s`.

[2019-08-09 20:10] #284 closed

[2019-08-09 20:12] stevevls commented on #274
We just merged #277, and the new API makes it possible to implement the solution you described above by managing the consumer group more directly.

[2019-08-09 20:12] #274 closed

[2019-08-09 20:12] stevevls commented on #263
Just merged #277, so this is do-able now!

[2019-08-09 20:12] #263 closed

[2019-08-09 20:14] stevevls commented on #138
Fixed by #334

[2019-08-09 20:14] #138 closed

[2019-08-09 21:09] stevevls commented on #313
I'm glad that #315 helped some.  I was not convinced it was going to be a magic bullet, but I did hope that it would improve the situation.  I'm going to dig in a bit on the info that @paulqin posted to see what I can find.

[2019-08-09 21:49] stevevls commented on #313
@paulqin I decoded the response that you posted, and it looks like you were requesting a topic that does not exist.  The response contained 0 for the number of partition responses.  I was able to reproduce that kind of request when creating a `kafka.Reader` configured with a non-existent topic.  It's not great that we reset the connection in the case, but I also don't think that requesting a missi

[2019-08-12 15:09] ssenthil416 commented on #332
-bash-4.2$ go get -u github.com/segmentio/kafka-go
# github.com/segmentio/kafka-go
../../../github.com/segmentio/kafka-go/crc32.go:60:4: undefined: io.StringWriter

[2019-08-13 02:42] achille-roussel commented on #332
This was first reported in https://github.com/segmentio/kafka-go/issues/321

Please let us know if upgrading to Go 1.12 isn't an option.

[2019-08-13 12:13] peterfroehlich commented on #332
It would be nice to have it patched... not that easy to update dependencies in some closed down production envs.

[2019-08-14 05:11] loveczp commented on #192
@grglcs I think maybe you could define your own Dialer and set a very long keepalive time. Maybe this could prevent the server close the idle connection. This is my guess.

[2019-08-14 05:25] #332 closed

[2019-08-14 05:32] achille-roussel commented on #332
We removed the use of `io.StringWriter` in the 0.3.x series starting 0.3.2.

[2019-08-17 09:05] fastcity opened #338 "kafka.DialContext() how to use ??"
this is my code ：
[code]

[2019-08-17 16:22] achille-roussel commented on #338
Have you looked at the DialLeader function? It lets you specify the topic that you wan to consume from.

[2019-08-21 10:30] koroky commented on #326
You can set **BatchTimeout** in WriterConfig to avoid long time wait:
[code]

[2019-08-21 15:21] Zavierazo opened #339 "Kafka MirrorMaker problem with nil keys"
**Describe the bug**
When messages are produces with nil key seems message are created with empty value instead of nil.
This causes the mirrormaker to send everything to the same partition.

**Kafka Version**
2.3.0

**To Reproduce**
Send multiple messages with nil key:
[code]
Enable mirror-maker between source kafka cluster to destination kafka cluster:
https://cwiki.apache.org/confluence/pages/vi

[2019-08-21 15:30] Zavierazo commented on #339
This is my code:

https://github.com/TykTechnologies/tyk-pump/blob/master/pumps/kafka.go

with this configuration:
[code]

[2019-08-21 16:33] Zavierazo commented on #339
Hi,
This pull request fixs the problem https://github.com/segmentio/kafka-go/pull/340

I found a way to do it by looking at the code used by mirror-maker for java
kafka-clients 1.0.1 org.apache.kafka.common.record.DefaultRecord line 190

[code]

[2019-08-21 16:35] achille-roussel commented on #339
Thanks for the reporting the issue and submitting a patch @Zavierazo!

[2019-08-22 15:43] #339 closed